<div class="m-layer-stats">
    <div class="user-stats">
        <span class="header">
            You have completed:
        </span>

        <span class="count">
            1234
        </span>

        <span class="footer">
            images
        </span>
    </div>

    <div class="layers-leaderboard">
        <div class="leaderboard-row">
            <div>5</div>
            <div>423</div>
            <div>User Name</div>
        </div>

        <div class="leaderboard-row">
            <div>4</div>
            <div>323</div>
            <div>User Name</div>
        </div>

        <div class="leaderboard-row">
            <div>2</div>
            <div>223</div>
            <div>User Name</div>
        </div>

        <div class="leaderboard-row">
            <div>1</div>
            <div>123</div>
            <div>User Name</div>
        </div>
    </div>
</div>