<script type="text/javascript">
    window.lol_app_data = <%= raw ApplicationController.render(file: 'map/map.json.jbuilder', assigns: {data: @data}) %>
    window.__STATE = <%= raw ApplicationController.render(file: 'map/state.json.jbuilder', assigns: {data: @data}) %>
</script>

<div id="map-root"></div>