<%= content_for :body_class do %>t-article-page<% end %>

<% content_for :template do %>

    <%= render 'shared/post_header', post: guide %>

    <main class="main--content main--article">
        <div class="background"><div class="motion-background" id="motion-background"></div></div>

        <div class="m-content">

            <div class="m-article">

                <%= guide.content %>

            </div>

        </div>

    </main>

<% end %>

<%= render template: "layouts/application" %>