@import "normalize";
@import "colors";
@import "mixins";
@import "base";

@import "library/font-awesome";
@import "library/react-leaflet-search";

@import "modules/m-sidebar";
@import "modules/m-map-wrapper";
@import "modules/m-tray-area";
@import "modules/m-map-area";
@import "modules/m-map";
@import "modules/m-record-card";
@import "modules/m-tray-records-list";
@import "modules/m-tools";
@import "modules/m-tool-button";
@import "modules/m-actions";
@import "modules/m-overlay";
@import "modules/m-map-popover";
@import "modules/m-record";
@import "modules/m-tray-title-area";
@import "modules/m-search-overlay";
@import "modules/m-date-range-overlay";
@import "modules/m-layers-picker";
@import "modules/m-add-collection";
@import "modules/m-accordion";
@import "modules/m-add-record";
@import "modules/m-place-picker";
@import "modules/m-map-place-popover";
@import "modules/m-layer-tools";
@import "modules/m-account-page";
@import "modules/m-overlay-subnavigation";
@import "modules/m-article";
@import "modules/m-tray-introduction";
@import "modules/m-example-searches";
@import "modules/m-onboard-intro";
@import "modules/m-add-media-and-documents";
@import "modules/m-add-links";
@import "modules/m-assign-to-team";
@import "modules/m-quickstart-search";
@import "modules/m-refine";
@import "modules/m-logo";
@import "modules/m-media-viewer-thumbs";
@import "modules/m-record-media-list-expanded";
@import "modules/m-media-viewer";
@import "modules/m-record-media-list-thumbs";
@import "modules/m-flash-messages";
@import "modules/m-badge";
@import "modules/m-record-report";
@import "modules/m-add-to-collection";
@import "modules/m-record-belongs-to-collections";
@import "modules/m-map-tray-switcher";
@import "modules/m-hamburger";
@import "modules/m-smartphone-menu-wrapper";
@import "modules/m-record-credits";
@import "modules/m-mini-map";
@import "modules/m-record-collections-list";
@import "modules/m-error-logo";
@import "modules/m-map-view-title-area";
@import "modules/m-add-other-record-to-collection";


/*
@import "modules/m-site-header";
@import "modules/m-logo";
@import "modules/m-article";
@import "modules/m-navigation";
@import "modules/m-mobile-navigation";
@import "modules/m-hamburger";
@import "modules/m-actions";
@import "modules/m-search-popover";
@import "modules/m-fixed-logo";*/

// Do we need this?

/* Site wrapper */

.m-site-wrapper {
  margin:0 auto;
  //background:asset-url('shape.svg') -68px 76%/630px no-repeat, asset-url('shape-2.svg') 720px 90%/930px no-repeat;
  //background:asset-url('shape.svg') -68px 76%/630px no-repeat;
  padding:1px 0;
  color:white;
  @include clearfix;
}