@import "normalize";
@import "colors";
@import "mixins";
@import "base";

@import "library/font-awesome";
@import "library/react-leaflet-search";

@import "modules/m-sidebar";
@import "modules/m-map-wrapper";
@import "modules/m-tray-area";
@import "modules/m-map-area";
@import "modules/m-map";
@import "modules/m-record-card";
@import "modules/m-tray-records-list";
@import "modules/m-tools";
@import "modules/m-tool-button";
@import "modules/m-actions";
@import "modules/m-overlay";
@import "modules/m-map-popover";
@import "modules/m-record";
@import "modules/m-tray-title-area";
@import "modules/m-search-overlay";
@import "modules/m-date-range-overlay";
@import "modules/m-layers-picker";
@import "modules/m-add-collection";
@import "modules/m-accordion";
@import "modules/m-add-record";
@import "modules/m-place-picker";
@import "modules/m-map-place-popover";
@import "modules/m-layer-tools";
@import "modules/m-account-page";
@import "modules/m-overlay-subnavigation";
@import "modules/m-article";
@import "modules/m-tray-introduction";
@import "modules/m-example-searches";
@import "modules/m-onboard-intro";
@import "modules/m-add-media-and-documents";
@import "modules/m-add-links";
@import "modules/m-assign-to-team";
@import "modules/m-quickstart-search";
@import "modules/m-refine";
@import "modules/m-logo";
@import "modules/m-media-viewer-thumbs";
@import "modules/m-record-media-list-expanded";
@import "modules/m-media-viewer";
@import "modules/m-record-media-list-thumbs";
@import "modules/m-flash-messages";
@import "modules/m-badge";
@import "modules/m-record-report";
@import "modules/m-add-to-collection";
@import "modules/m-record-belongs-to-collections";
@import "modules/m-map-tray-switcher";
@import "modules/m-hamburger";
@import "modules/m-smartphone-menu-wrapper";
@import "modules/m-record-credits";
@import "modules/m-mini-map";
@import "modules/m-record-collections-list";
@import "modules/m-error-logo";
@import "modules/m-map-view-title-area";
@import "modules/m-add-other-record-to-collection";
@import "modules/m-layer-details";
@import "modules/m-vector-meta-popover";
@import "modules/m-comments";
@import "modules/m-comment-form";

/*
@import "modules/m-site-header";
@import "modules/m-logo";
@import "modules/m-article";
@import "modules/m-navigation";
@import "modules/m-mobile-navigation";
@import "modules/m-hamburger";
@import "modules/m-actions";
@import "modules/m-search-popover";
@import "modules/m-fixed-logo";*/

// Do we need this?

/* Site wrapper */

.m-site-wrapper {
  margin:0 auto;
  //background:asset-url('shape.svg') -68px 76%/630px no-repeat, asset-url('shape-2.svg') 720px 90%/930px no-repeat;
  //background:asset-url('shape.svg') -68px 76%/630px no-repeat;
  padding:1px 0;
  color:white;
  @include clearfix;
}


// Booth Maptools Drawing Styles
@import "../../../../node_modules/leaflet-draw/dist/leaflet.draw";

.leaflet-edit-resize.leaflet-marker-draggable {
  background: #fff;
  border: 1px solid #666;
  height: 10px;
  width: 10px;
}

.leaflet-container {
  &.initial-map {
    z-index: -1;
  }
}

#maptools-root {
  color: #333;
}

#maptools-root .m-map-area {
  margin-top: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.maptools-intro {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  color: #333;
}

.maptools-hint {
  position: absolute;
  z-index: 9999;
  color: #333;
  bottom: 50px;
  left: 50px;
  background: #fff;
  padding: 10px 20px;
  font-size: 2.2em;
}

.maptools-intro section {
  background: #fff;
  width: 60%;
  max-width: 600px;
  position: relative;
  margin: 5% 0 0 5%;

  .columns .column {
    width: 50%;
    display: inline-block;
  }

  .sub-section {
    position: absolute;
    right: -50%;
    top: 10%;
    border: 1px solid red;
  }
}

.square-editor {
  position: absolute;
  z-index: 10000;
  top: 30%;
  background: #fff;
  padding: 40px;
  margin: 20px;

  width: 250px;

  transition: all .2s;
}

.leaflet-control-container {
  .leaflet-draw.leaflet-control {
    background: #fff;

    .leaflet-draw-toolbar {
      border: none;
    }
    .leaflet-draw-toolbar a {
      border: none;
    }
  }
}

.leaflet-popup-content-wrapper button[disabled] {
  opacity: 0.5;
}

.leaflet-custom-position {
  border: 2px solid red;
}
.leaflet-custom-position .leaflet-control {
  padding: 100px;;
}