@import "normalize";
@import "colors";
@import "mixins";
@import "base";
@import "library/font-awesome";
@import "library/react-leaflet-search";
@import "modules/m-map-wrapper";
@import "modules/m-map-area";
@import "modules/m-map";
@import "modules/m-hamburger";
@import "modules/m-smartphone-menu-wrapper";

$booth-paper: #fce0bc;
$booth-red: #e3513d;
$booth-soft-red: #b56355;
$booth-blue: #43585d;
$booth-black: #302b27;
$booth-yellow: #eaa349;

@mixin button-style {
  background: $yellow;
  color: black;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 0;
  &:hover {
    background: darken($yellow, 25%);
  }

}

@mixin black-box-styles {
  background: #000;
  color: white;
  a {
    color: $yellow;
    text-decoration: underline;
  }
  a:hover {
    color: darken($yellow, 25%);
  }
  a.button {
    @include button-style
  }
  hr {
    border-top: 1px solid #424242;
    clear: both;
  }
}

@import "modules-maptools/m-intro";
@import "modules-maptools/m-hint";
@import "modules-maptools/m-edit-hint";
@import "modules-maptools/m-color-picker";
@import "modules-maptools/m-site-header";
@import "modules-maptools/m-message";
@import "modules-maptools/m-squares-filter";

// Booth Maptools Drawing Styles
@import "../../../../node_modules/leaflet-draw/dist/leaflet.draw";

.leaflet-edit-resize.leaflet-marker-draggable {
  background: #fff;
  border: 1px solid #666;
  height: 10px;
  width: 10px;
}

.leaflet-container {
  &.initial-map {
    z-index: -1;
  }
}

#maptools-root {
  color: #333;
}

#maptools-root .m-map-area {
  margin-top: 0;
  width: 100%;
  height: calc(100% - 80px);
  top: 80px;
  @include mq(smartphone) {
    top: 70px;
    height: calc(100% - 70px);
  }
}

.leaflet-popup-content-wrapper button[disabled] {
  opacity: 0.5;
}

.leaflet-custom-position {
  border: 2px solid red;
}

.leaflet-custom-position .leaflet-control {
  padding: 100px;;
}

.gridline {
  //opacity:0.2;
}

.leaflet-overlay-pane {
  //mix-blend-mode:overlay;
  //opacity: 0.7;
}

body {
  background: #fff;
}

a {
  color: #1a82e2;
}

a:hover {
  color: #001F3F;
}

#maptools-grid {
  position: absolute;
  top: 0;
  border: 2px solid red;
}

#maptools-grid .square {
}

.leaflet-tile-container.leaflet-zoom-animated img {
  /*border: 2px solid red;*/
}

// Tool buttons

.leaflet-control-container .leaflet-draw {
  background: #000;
  /*  transform: scale(1.8);
    transform-origin: bottom left;*/
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 10px 10px 0 10px;
}

.leaflet-draw-toolbar.leaflet-draw-toolbar.leaflet-draw-toolbar {
  margin: 0;
  border: 0;
  font-family: 'Muli', sans-serif;
  a {
    width: 140px;
    border: 0;
    border-radius: 0;
    @include button-style;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 7px;
  }

  .sr-only.sr-only.sr-only.sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: auto;
    overflow: visuble;
    clip: auto;
    border: 0;
  }

}

// Flyout actions

.leaflet-draw-section.leaflet-draw-section.leaflet-draw-section {

  ul.leaflet-draw-actions {
    left: 100%;
    margin-left: 10px;
  }

  ul.leaflet-draw-actions li:nth-child(1),
  ul.leaflet-draw-actions li:nth-child(2) {
    display: none;
  }

}

.leaflet-draw-section + .leaflet-draw-section.leaflet-draw-section.leaflet-draw-section {
  // Second group
  ul li:nth-child(1),
  ul li:nth-child(2) {
    display: inline-block;
  }
}

.leaflet-draw-section + .leaflet-draw-section.leaflet-draw-section.leaflet-draw-section .leaflet-draw-actions-bottom {
  // Second group
  li:nth-child(1),
  li:nth-child(3),
  li:nth-child(2) {
    display: none;
  }
}

.leaflet-draw-actions.leaflet-draw-actions.leaflet-draw-actions a {
  background: #ffa25a;
  color: black;
  border-radius: 0;
  border: 10px solid black;
  border-left: 0;
  height: 50px;
  line-height: 26px;
  margin-top: -10px;
  padding: 2px 10px;
}

.leaflet-draw-actions.leaflet-draw-actions.leaflet-draw-actions a:hover {
  background: darken(#ffa25a, 10%);
}

// Edit: Control points
.leaflet-editing-icon {
  border-radius: 100px;
  margin-left: -6px !important;
  margin-top: -6px !important;
  width: 12px !important;
  height: 12px !important;
}

// Colour pick popover
.leaflet-popup-content {
  margin: 19px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: black;
  color: #333;
  box-shadow: none;
  border-radius: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}
