/* Base */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
  color: #222;
  font-family: 'Muli', sans-serif;
}

h1 {
}

html {
  font-size: 1em;
  line-height: 1.4;
  //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Buttons */

body {
  background: $black;
  min-width: 320px;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color .2s);
}

a:hover {
  color: $link-hover-color;
}

.grid {
  @include grid;
}

.grid > div {
  @include grid-item (1, 5);
  margin-bottom: 20px
}

.grid > div:first-child {
  @include grid-item (2, 5);
  @include grid-item-offset (2, 5);
}

.grid a {
  background: red;
  display: block;
  height: 100px;
}

.container-thing {
  width: 800px;
  background: orange;
  margin: 0 auto;
  margin-top: 100px;
}

div[class^='s-'] {
  display: none;
}

div[class^='s-'].is-showing {
  display: inline;
}

.random-image {
  background-size: cover;
  background-position: center;
}

button {
  @include lozenge-button;
}

// Forms

$form-border-color: #e4e4e4;

input[type="text"],
input[type="tel"],
textarea {
  border: none;
  background: white;
  padding: 10px;
  border-radius: $default-border-radius;
  border-bottom: 2px solid $form-border-color;
}

textarea {
  border: 2px solid $form-border-color;
}

input[type="submit"] {
  border: none;
  padding: 10px;
  border-radius: $default-border-radius;
  background: $main-accent;
  @include transition(all .2s);
  //color: white;
  &:hover {
    background: darken($main-accent, 10%);
  }
}

.form--over-white input[type="text"],
.form--over-white input[type="tel"],
.form--over-white textarea {
  //background: #f5f2f7;
}

.form--over-white a {
  color: $orange;
}

.form--chunky .form-group {
  margin-bottom: 20px;
}

.form--chunky label,
.form--chunky .label {
  font-size: 14px;
  margin-bottom: 10px;
  background: #549a77;
  display: inline-block;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 560;
}

.form--chunky input,
.form--chunky textarea {
  padding: 20px;
  width: 100%;
}

.form--chunky input[type="submit"] {
  @include big-square-button;
  width: auto;
  float: right;
}

.form--chunky .form-group--checkboxes-columns label {
  width: 33.333333%;
  display: inline-block;
  vertical-align: top;
  margin-right: -3px;
  text-transform: none;
  font-size: 16px;
  padding-left: 25px;
}

.form--chunky .form-group--checkboxes-columns input {
  float: left;
  margin-left: -25px;
  width: auto;
}

.form--chunky .form-group--checkboxes-columns label .helper-text {
  display: block;
  margin-top: 20px;
}

.form--chunky .form-group--checkboxes-rows label {
  display: block;
  vertical-align: top;
  margin-right: -3px;
  text-transform: none;
  font-size: 16px;
  padding-left: 25px;
  background: none;
  color: #222;
  font-weight: 500;
}

.form--chunky .form-group--checkboxes-rows input {
  float: left;
  margin-left: -25px;
  width: auto;
}

.form--chunky .in-context-input {
  margin: 0 6px;
}


// Radios & checkboxes

.form-group--replaced-checkboxes label {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 0 0 0 42px;
  vertical-align: top;
  //color: rgba(0,0,0,0.2);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin: 0 0 12px 0;
}

.form-group--replaced-checkboxes input[type="checkbox"],
.form-group--replaced-checkboxes input[type="radio"],
.form-group--replaced-checkboxes label span::before {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  margin-top: -2px;
  position: absolute;
  cursor: pointer;
}

.form-group--replaced-checkboxes input[type="checkbox"],
.form-group--replaced-checkboxes input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.form-group--replaced-checkboxes label span::before {
  content: '';
  border: 2px solid $main-accent;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 6px;
}

.form-group--replaced-checkboxes input[type="checkbox"]:checked + span,
.form-group--replaced-checkboxes input[type="radio"]:checked + span {
  color: #fff;
}

.form-group--replaced-checkboxes input[type="checkbox"]:checked + span::before,
.form-group--replaced-checkboxes input[type="radio"]:checked + span::before {
  //opacity: 0.8;
}

/* General SVG and path styles */

.form-group--replaced-checkboxes label span {
  display: block;
}

.form-group--replaced-checkboxes svg {
  position: absolute;
  width: 22px;
  height: 38px;
  top: 50%;
  margin-top: -20px;
  left: 5px;
  pointer-events: none;
}

.form-group--replaced-checkboxes svg path {
  stroke: #fff;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Specific input, SVG and path styles */

/*
!* Circle *!
.form-group--replaced-checkboxes input[type="checkbox"],
.form-group--replaced-checkboxes input[type="radio"],
.form-group--replaced-checkboxes label span::before {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: 10px;
  position: absolute;
}

.form-group--replaced-checkboxes label span::before {
  background-color: #fff;
  border: none;
}

.form-group--replaced-checkboxes svg {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  left: -10px;
}

.form-group--replaced-checkboxes svg path {
  stroke-width: 5px;
}

!* Box Fill *!
.form-group--replaced-checkboxes svg path {
  stroke-width: 8px;
}
*/

/* Swirl */
.ac-swirl svg path {
  stroke-width: 8px;
}

/* List */
.ac-list ol {
  list-style: decimal;
  list-style-position: inside;
}

.ac-list ol li {
  font-size: 2em;
  padding: 1em 1em 0 2em;
  text-indent: -40px;
}

.ac-list ol li label {
  font-size: 1em;
  text-indent: 0;
  padding-left: 30px;
}

.ac-list label::before {
  display: none;
}

.ac-list svg {
  width: 100%;
  height: 80px;
  left: 0;
  top: 1.2em;
  margin-top: 0px;
}

.ac-list svg path {
  stroke-width: 4px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  section {
    font-size: 80%;
  }
}

.has-viewable-action {
}

.is-not-viewable {
  transform: translate3d(-50px, 0, 0);
  opacity: 0;
}

.is-viewable {
  transition: all .6s;
  transition-delay: .5s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
