
@import "normalize";
@import "colors";
@import "mixins";
@import "base";

@import "library/font-awesome";

@import "modules/marketing/m-site-wrapper";
@import "modules/marketing/m-navigation";
@import "modules/marketing/m-hero";
@import "modules/marketing/m-logo";
@import "modules/marketing/m-highlighted-content";
@import "modules/marketing/m-home-cta-block";
@import "modules/marketing/m-site-header";
@import "modules/marketing/m-site-footer";
@import "modules/marketing/m-page-header";
@import "modules/marketing/m-help-header";
@import "modules/marketing/m-guides";
@import "modules/marketing/m-layermaker-banner";
@import "modules/marketing/m-subnavigation";
@import "modules/marketing/m-content";
@import "modules/marketing/m-sidebar";
@import "modules/marketing/m-article";
@import "modules/marketing/m-event-cta";
@import "modules/marketing/m-events-list";
@import "modules/marketing/m-section-landing-subpages";
@import "modules/marketing/m-event-meta";
@import "modules/marketing/m-faqs";

body {
  background:#ddd;
}

a {
  color:$blue;
}

a:hover {
  color:darken($blue, 20%);
}

input[type="submit"] {
  background:$blue;
}

a.button {
  background:$blue;
  padding:10px 20px;
  border-radius:100px;
  color:white;
  display:inline-block;
}