<li><label>URL</label><%= link_to f.object.url, f.object.url, target: "_blank", title: "Open URL in a new page / tab" %></li>
<%= f.input :title %>
<%= f.input :url, as: :string %>
<%= f.input :credit, as: :string %>
