// Add record

.m-add-record {
  @include overlay-wrap-white;
  max-width: 900px;
  margin-top: 130px;
}

.m-add-record h1 {
  @include font-display;
  @include polygon-background(yellow, top, true);
  padding: 20px 30px;
  font-size: 36px;
  color: $black;
  margin-left: -20px;
  margin-top: -120px;
  float: left;
}

.m-add-record .place {
  font-size:12px;
  color:#aaa;
}

.m-add-record .form-group--date {
  width: 300px;
  float: right;
}

.m-add-record .form-group--date input {
  width: 96px;
  display: inline-block;
}

.m-add-record .form-group--title {
  width: calc(100% - 300px);
  display: inline-block;
  padding-right: 30px;
}

.m-add-record button.delete {
  display: none;
}

.m-add-record.is-edit-mode button.delete {
  display: inline-block;
}

.m-add-record .form-group--date .helper-text {
  font-size:14px;
  padding-top: 6px;
  margin-bottom: 10px;
  display: block;
}

.m-add-record .end-date-link {
  font-size:14px;
}

.m-add-record .end-date {
  display:none;
}