// Layers picker

.m-layers-picker {
  @include overlay-wrap-transparent;
  max-width: 1000px;
}

.m-layers-picker h1 {
  @include overlay-title;
}

.m-layers-picker .search {
  float: right;
  margin-bottom: 30px;
  display:none;
}

.m-layers-picker .layers {
  clear:both;
  border-top:2px solid rgba(255, 255, 255, 0.2);
}

.m-layers-picker .layer {
  display: inline-block;
  margin-right: -4px;
  width: 33.333333%;
  margin-bottom: 30px;
  padding-right: 30px;
  vertical-align: top;
}

.m-layers-picker .layer .image {
  width: auto;
  padding-bottom: 60%;
  background: #555;
  background-size: cover;
  background-position: center;
  margin:-20px -20px 0 -20px;
}

.m-layers-picker .layer:nth-child(1) .image {
  background-image: asset-url('map-1.jpg');
}

.m-layers-picker .layer:nth-child(2) .image {
  background-image: asset-url('map-2.jpg');
}

.m-layers-picker .layer:nth-child(3) .image {
  background-image: asset-url('map-3.jpg');
}

.m-layers-picker .layer:nth-child(4) .image {
  background-image: asset-url('map-4.jpg');
}

.m-layers-picker .layer:nth-child(5) .image {
  background-image: asset-url('map-5.jpg');
}

.m-layers-picker .layer:nth-child(6) .image {
  background-image: asset-url('map-6.jpg');
}

.m-layers-picker .layer h2 {
  margin-bottom: 0;
  @include font-display;
}

.m-layers-picker .wrap > button {
  @include big-square-button;
}

.m-layers-picker .layer a {
  color: $black;
  display: block;
  padding:20px;
  background:white;
}

.m-layers-picker .layer a:hover {
  //color: white;
}

.m-layers-picker .layer button {
  background: $link-color;
  border: 0;
  border-radius: 100px;
}

.m-layers-picker .layer button span {
  display: none;
}

.m-layers-picker .layer button:before {
  content: "Use this layer";
}

.m-layers-picker .layer button.is-selected:before {
  content: "Hide this layer";
}

.m-layers-picker .layer button:after {
  content: "\f10c";
  margin-left: 10px;
  font: normal normal normal 18px/1 FontAwesome;
}

.m-layers-picker .layer button.is-selected:after {
  content: "\f05d";
}

.m-layers-picker .layer button.is-selected {
  background: #eee;
}

.m-layers-picker .layer p {
  font-size:12px;
}