// Layers picker

.m-layers-picker {
  @include overlay-wrap-transparent;
  max-width: 1000px;
}

.m-layers-picker h1 {
  @include overlay-title;
  margin-right: 40px;
  margin-bottom: 0;
}

.m-layers-picker .subtitle {
  display: inline-block;
  font-size: 22px;
}

.m-layers-picker .search {
  float: right;
  margin-bottom: 30px;
  display: none;
}

.m-layers-picker .layers {
  clear: both;
  padding: 23px 0px 0px 30px;
}

.m-layers-picker .layers--specific {
  background: #3c3c3c;
  margin-top: -10px;
}

.m-layers-picker .layers--specific > h2 {
  margin-top: 0;
}

.m-layers-picker .layers--specific > h2 span {
  font-size: 14px;
  margin-bottom: 10px;
  background: #549a77;
  display: inline-block;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 560;
}

.m-layers-picker .layer {
  display: inline-block;
  margin-right: -4px;
  width: 33.333333%;
  margin-bottom: 30px;
  padding-right: 30px;
  vertical-align: top;
}

.m-layers-picker .layer .image {
  width: auto;
  padding-bottom: 60%;
  background: #555;
  background-size: cover;
  background-position: center;
  margin: -20px -20px 0 -20px;
  transition: all .2s;
}

.m-layers-picker .layer:nth-child(1) .image {
  background-image: asset-url('map-1.jpg');
}

.m-layers-picker .layer:nth-child(2) .image {
  background-image: asset-url('map-2.jpg');
}

.m-layers-picker .layer:nth-child(3) .image {
  background-image: asset-url('map-3.jpg');
}

.m-layers-picker .layer:nth-child(4) .image {
  background-image: asset-url('map-4.jpg');
}

.m-layers-picker .layer:nth-child(5) .image {
  background-image: asset-url('map-5.jpg');
}

.m-layers-picker .layer:nth-child(6) .image {
  background-image: asset-url('map-6.jpg');
}

.m-layers-picker .layer a:hover .image {
  opacity: 0.8;
}

.m-layers-picker .layer h2 {
  margin-bottom: 0;
  @include font-display;
  margin-top: 16px;
}

.m-layers-picker .wrap > button {
  @include big-square-button;
}

.m-layers-picker .layer a {
  color: $black;
  display: block;
  padding: 20px;
  background: white;
}

.m-layers-picker .layer a:hover {
  //color: white;
}

.m-layers-picker .layer button {
  background: transparent;
  border-radius: 100px;
  border: 2px solid #549a77;
  color: #549a77;
  font-weight: 700;
  font-size: 14px;
  margin-top: 6px;
  margin-left: -2px;
  outline: 0;
  transition:all .2s;
}

.m-layers-picker .layer button:hover {
  background: #549a7624;
}


.m-layers-picker .layer.is-selected button {
  //border: 2px solid #c3c3c2;
  border: 2px solid #00000042;
  color: #00000042;
}

.m-layers-picker .layer button span {
  display: none;
}

.m-layers-picker .layer button:before {
  content: "Use this layer";
}

.m-layers-picker .layer.is-selected button:before {
  content: "Deselect this layer";
}

.m-layers-picker .layer p {
  font-size: 12px;
}

.m-layers-picker .layer > a {
  transition: all .2s;
  outline: 0 solid #13131324;
  position: relative;
}

.m-layers-picker .layers--specific .layer.is-selected > a {
  outline: 10px solid #13131324;
  outline: 10px solid #549a7785;
}

.m-layers-picker .layer.is-selected > a {
  outline: 10px solid #549a7785;
  background: #efdf5b;
}

.m-layers-picker .layer a:after {
  content: "\f00c";
  color: white;
  background: $green;
  font: normal normal normal 24px/1 FontAwesome;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: -24px;
  display: block;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  border-radius: 100px;
  opacity: 0;
  transform: scale(0.7);
  transition: all .2s;
}

.m-layers-picker .layer.is-selected a:after {
  opacity: 1;
  transform: scale(1);
}

.m-layers-picker button.submit-button {
  min-width: 170px;
  float: right;
  margin-bottom: 80px;
  margin-top: 30px;
  @include big-square-button;
}