// Tool button

.m-tool-button button {
  background: transparent;
  border: 0;
  color: $main-accent;
  padding: 15px 10px;
  position: relative;
  @include transition(all .2s);
}

.m-tool-button button:after {
  content: attr(data-label);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0 15px 50px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  width: 170px;
  opacity: 0;
  transition: opacity .2s;
}

.m-tool-button button:focus {
  outline: 0;
}

.m-sidebar:hover .m-tool-button button:after {
  opacity: 1;
}

.m-tool-button button:before {
  font: normal normal normal 20px/1 FontAwesome;
  color: #b3b3b3;
  opacity: 0.6;
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  opacity: 0.7;
  margin-top: -2px;
  @include transition(all .2s);
}

.m-tool-button--search button:before {
  background: asset-url('icon-search.svg') center no-repeat;
}

.m-tool-button--layers button:before {
  background: asset-url('icon-layers.svg') center no-repeat;
}

.m-tool-button--add-collection button:before {
  background: asset-url('icon-collection.svg') center no-repeat;
}

.m-tool-button--add button:before {
  background: asset-url('icon-add.svg') center no-repeat;
}

.m-tool-button--your-content button:before {
  content: "\f2c0";
}

.m-tool-button--your-account button:before {
  content: "\f2c0";
}

.m-tool-button button:hover {
  opacity: 0.5;
}

.m-tool-button span {
  display: none;
}

/*
$base-color: #910ade;

.m-tool-button:nth-child(1) button {
  color: adjust-hue($base-color, 5%);
}

.m-tool-button:nth-child(2) button {
  color: adjust-hue($base-color, 10%);
}

.m-tool-button:nth-child(3) button {
  color: adjust-hue($base-color, 15%);
}

.m-tool-button:nth-child(4) button {
  color: adjust-hue($base-color, 20%);
}

.m-tool-button:nth-child(5) button {
  color: adjust-hue($base-color, 25%);
}
*/
