<main class="main--user-function-form">

    <div class="background"></div>

    <div class="m-user-function-form">
        <h1>Classroom login</h1>

        <%= form_tag teacher_classroom_login_path(params[:id]) do |f| %>
            <div class="field">
                <%= label_tag :name, "What's your name?" %><br />
                <%= text_field_tag :name, nil, {autofocus: true} %>
            </div>

            <div class="actions">
                <%= submit_tag "Log in" %>
            </div>
        <% end %>

    </div>

</main>
