<div class="m-home-cta-block">
    <div class="image"><%= image_tag homepage_cta.image %></div>

    <div class="text-content viewable has-viewable-action is-viewable">
        <h3><%= homepage_cta.title %></h3>
        <div class="description">
            <p><%= homepage_cta.description %></p>
        </div>
        <%= link_to homepage_cta.link_text, homepage_cta.url, class: 'button' %>
    </div>
</div>