<div class="post">

    <div class="text-content">
        <%= link_to post_path(post.slug) do %>
            <h2 class="title"><%= post.title %></h2>
        <% end %>
        <p><%= post.excerpt %></p>
    </div>
    </a>
</div>