<div class="m-event-cta">
    <%= link_to sidebar_cta.url do %>
        <h3 class="title"><%= sidebar_cta.title %></h3>
        <span class="date"><%= sidebar_cta.subtitle %></span>
        <p><%= sidebar_cta.content %></p>
    <% end %>

</div>