<%= content_for :body_class do %>m-site-wrapper<% end %>

<% content_for :template do %>

    <main class="main--user-function-form">

        <div class="background"></div>

        <div class="m-user-function-form">
            <h1><%= yield(:title) %></h1>
            <%= yield %>
        </div>

    </main>

<% end %>

<%= render template: "layouts/application" %>


