<% content_for :template do %>

    <%= render 'shared/page_header' %>

    <main class="main--articles">

        <div class="background"><div class="motion-background" id="motion-background"></div></div>

        <div class="m-article-list">
            <% posts.each do |post| %>
                <% if post.blog? %>
                    <%= render 'shared/list_item_leader', list_item_leader: post, tag: 'Article', classes: 'article-leader--post'%>
                <% elsif post.event? %>
                    <%= render 'shared/list_item_leader', list_item_leader: post, tag: 'Event', classes: 'article-leader--event'%>
                <% end %>

            <% end %>
        </div>

    </main>

<% end %>

<%= render template: "layouts/application" %>