<% content_for :template do %>

    <%= render 'shared/page_header' %>

    <main class="main--articles">

        <div class="m-article-list">
            <% posts.each do |post| %>
                <% if post.blog? %>
                <%= render 'pages/post', post: post %>
                <% elsif post.event? %>
                <% end %>

            <% end %>
        </div>

        <div class="m-layermaker-banner">
            <div class="title-wrapper">
                <h2 class="subtitle">Volunteer for Layers of London</h2>
                <h3 class="title">Become a layer maker</h3>
            </div>
            <p>Praesent vel lectus non est semper condimentum. Sed dictum, tortor nec sagittis ultrices, risus nulla
                pretium arcu.</p>
            <a class="button">Let's do it</a>
        </div>

    </main>

<% end %>

<%= render template: "layouts/application" %>