<% content_for :template do %>

    <%= render 'shared/page_header' %>

    <main class="main--articles">

        <div class="m-article-list">
            <% posts.each do |post| %>
                <% if post.blog? %>
                    <%= render 'pages/post_leader', post: post %>
                <% elsif post.event? %>
                    <%= render 'pages/event_leader', post: post %>
                <% end %>

            <% end %>
        </div>

    </main>

<% end %>

<%= render template: "layouts/application" %>