<%= content_for :body_class do %>m-site-wrapper<% end %>
<% content_for :template do %>
      <%= render 'shared/page_header' %>

      <div class="m-content">
        <div class="m-article">
          <%= yield %>
        </div>
      </div>


<!--      <div class="m-layermaker-banner">-->
<!--        <div class="title-wrapper">-->
<!--          <h2 class="subtitle">Volunteer for Layers of London</h2>-->
<!--          <h3 class="title">Become a layer maker</h3>-->
<!--        </div>-->
<!--        <p>Praesent vel lectus non est semper condimentum. Sed dictum, tortor nec sagittis ultrices, risus nulla-->
<!--          pretium arcu.</p>-->
<!--        <a class="button">Let's do it</a>-->
<!--      </div>-->
<% end %>

<%= render template: "layouts/application" %>