<% content_for :template do %>


      <div class="m-page-header">
        <h1>Schools, Groups, and Clubs</h1>
        <p>Nunc vel accumsan enim. Phasellus ullamcorper metus elit, et porta est suscipit vitae. Phasellus
          porttitor semper vehicula. Integer a odio pretium, suscipit enim bibendum, aliquet eros. Sed iaculis
          semper dui.</p>
      </div>

      <div class="m-section-landing-subpages">
        <div class="subpage">
          <a href="#">
            <div class="image"></div>
            <div class="text-content">
              <div class="indicator">Using Layers of London in Schools</div>
              <h3>A guide to using Layers in your school</h3>
              <div class="description">
                <p>Aliquam nec consectetur libero. Nunc euismod, lacus vel ultrices sollicitudin, tortor
                  libero
                  sagittis mi, pellentesque dignissim tellus nisl ut tortor. Nulla eu enim risus. Aenean
                  porta
                  ligula nisl, eu hendrerit.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="subpage">
          <a href="#">
            <div class="image"></div>
            <div class="text-content">
              <div class="indicator">Groups and Clubs</div>
              <h3>How to get your group involved</h3>
              <div class="description">
                <p>Aliquam nec consectetur libero. Nunc euismod, lacus vel ultrices sollicitudin, tortor
                  libero
                  sagittis mi, pellentesque dignissim tellus nisl ut tortor. Nulla eu enim risus. Aenean
                  porta
                  ligula nisl, eu hendrerit.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="subpage">
          <a href="#">
            <div class="image"></div>
            <div class="text-content">
              <div class="indicator">Teaching Resources</div>
              <h3>Get your class involved</h3>
              <div class="description">
                <p>Aliquam nec consectetur libero. Nunc euismod, lacus vel ultrices sollicitudin, tortor
                  libero
                  sagittis mi, pellentesque dignissim tellus nisl ut tortor. Nulla eu enim risus. Aenean
                  porta
                  ligula nisl, eu hendrerit.</p>
              </div>
            </div>
          </a>
        </div>
      </div>

<% end %>

<%= render template: "layouts/application" %>