/* Content */

.m-content {
  width: 70%;
  margin:0 auto 0;
  padding: 60px;
  @include clearfix;
  position: relative;
  z-index:2;
  background:white;
  @include mq(tablet) {
    padding: 40px;
  }
  @include mq(smartphone) {
    width:100%;
    padding:15px;
    max-width:550px;
  }
}

.m-sidebar + .m-content {
  margin:-60px auto 0;
  @include mq(smartphone) {
    margin:-50px auto 0;
  }
}

.m-content .title {
  margin-top:0;
  margin-bottom:50px;
}

.main--article .m-content {
  margin: -100px auto 0;
  @include mq(smartphone) {
    margin: -55px auto 0;
  }
}

.main--faq .m-content {
  margin: 0 auto 0;
}