/* Content */

.m-content {
  width: 70%;
  margin:0 auto 0;
  padding: 40px;

}

.m-sidebar + .m-content {
  margin:-100px 0 0 0;
  float: left;
  position: relative;
  z-index:2;
  background:$black;
}

.m-content .title {
  margin-top:0;
  margin-bottom:50px;
}