/* Guides */

.m-guides {
  padding: 0 80px 50px 80px;
  @include clearfix;
  position: relative;
}

.m-guides > div {
  display: inline;
}

.m-guides h2 {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 0;
  background: #ff0041;
  display: table;
  padding: 4px 9px;
}

.m-guides .guide a {
  position: relative;
  display: inline-block;
  padding: 25px 30px 30px;
  vertical-align: top;
  background: $white;
  color: $black;
  width: calc(33.333333% - 25px);
  margin-right: 22px;
  margin-bottom: 30px;
}

.m-guides .guide h3 {
  width: 100%;
  font-size: 32px;
  @include font-display;
  margin: 0;
  color: $red;
  margin-bottom: 15px;
}

.m-guides .guide h3:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0.6em;
  margin-top: 10px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f0da";
  float: right;
  position: absolute;
  top: 29px;
  right: 30px;
}

.m-guides .guide .description {
  margin: 0;
  color: $black;
}

