/* Help Header */

.m-help-header {
  padding: 70px 80px 70px;
  position: relative;
  z-index: 2;
  @include clearfix;
  clear: both;
  @include mq(smartphone) {
    padding: 20px 15px 50px;
  }
}

.m-help-header .title {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  background: #ff0041;
  display: inline-block;
  padding: 4px 9px;
  @include mq(smartphone) {
    font-size: 18px;
  }
}

.m-help-header .video {
  float: left;
  width: 50%;
  padding-right: 50px;
  position: relative;
  visibility:hidden;
  @include mq(smartphone) {
    width: auto;
    float: none;
    padding-right: 0;
    display:none;
  }
}

.m-help-header .video > div {
  background: $black;
  padding: 20px;
  margin-top: -20px;
  margin-bottom:50px;
}

.m-help-header .video-wrapper {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}

.m-help-header .video iframe {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
}

.m-help-header .top-faq {
  float: left;
  width: 50%;
  padding-left: 10px;
  @include mq(smartphone) {
    float: none;
    width: auto;
    padding-left: 0;
  }
}

.m-help-header .top-faq li {
  @include font-display;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
  @include mq(smartphone) {
    font-size:16px;
  }
}

.m-help-header .top-faq li a {
  padding: 10px 15px 10px 34px;
  background: $black;
  display: inline-block;
  @include link-arrow;
}

.m-help-header .top-faq li a:before {
  float: left;
  margin-top: 6px;
  margin-left: -19px;
}

.m-help-header .top-faq ul {
  @include unlist;
  margin-bottom: 40px;
}

.m-help-header .top-faq > a {
  //border: 3px solid $red;
  padding: 5px 15px;
  border-radius: 100px;
  color: $red;
  font-weight: 600;
  background: $yellow;
  color: $black;
  //@include link-arrow;
  transition: all .2s;
}

.m-help-header .top-faq > a:before {
  float: left;
  margin-top: 5px;
  margin-left: -19px;
}

.m-help-header .top-faq > a:hover {
  background: $red;
  color: $black;
}