/* Hero */

.m-hero {
  clear: both;
  position: relative;
  min-height: 670px;
  @include mq(tablet) {
    min-height: 600px;
  }
  @include mq(small-tablet) {
    @include clearfix;
    height: auto;
    min-height: 0;
  }
}

.m-hero .surtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: $yellow;
}

.m-hero .text-content {
  width: 61%;
  float: left;
  height: 100%;
  position: relative;
  padding: 180px 80px 140px 0;
  color: white;
  // TODO
  @include mq(tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mq(small-tablet) {
    width: 100%;
    padding: 40px;
    height: auto;
  }
}

.m-hero--home .text-content {
  @include mq(small-tablet) {
    text-align: center;
    padding: 20px;
  }
  @include mq(smartphone) {
    max-width: 550px;
    margin: 0 auto;
    float: none;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 660px) {
    padding-bottom: 20px;
  }
}

.m-hero .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.t-homepage .m-hero .image {
  background: url(/example/map-2.png) center/cover no-repeat !important;
}

.m-hero h1 {
  @include font-display;
  line-height: 1.2;
  font-size: 64px;
  margin-top: 20px;
  color: $green;
  margin-bottom: 50px;
  @include mq(tablet) {
    font-size: 46px;
  }
  @include mq(small-tablet) {
    font-size: 34px;
    margin-top: 0;
  }
  @include mq(smartphone) {
  }
  @include mq(small-smartphone) {
    font-size: 24px;
  }
}

.m-hero--home h1 {
  color: white;
}

.m-hero a:hover {
  background: #efdf5b;
  color: $black;
}

.m-hero .links {
  @include unlist;
  margin-left: 2px;
}

.m-hero .links li {
  display: inline-block;
  margin-right:15px;
}

.m-hero .links a {
  text-transform: uppercase;
  font-size:14px;
}

.m-hero .links a:before {
  content: "\f0da";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1em;
  margin-right: 5px;
}