/* Help Header */

.m-help-header {
  padding: 70px 80px 70px;
  position: relative;
  z-index: 2;
  @include clearfix;
  clear: both;
}

.m-help-header .title {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  background: #ff0041;
  display: inline-block;
  padding: 4px 9px;
}

.m-help-header .video {
  float: left;
  width: 50%;
  padding-right: 50px;
  position: relative;
}

.m-help-header .video > div {
  background: $black;
  padding: 20px;
  margin-top: -20px;
}

.m-help-header iframe {
  max-width: 100%;
}

.m-help-header .top-faq {
  float: left;
  width: 50%;
  padding-left: 10px;
}

.m-help-header .top-faq li {
  @include font-display;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

.m-help-header .top-faq li a {
  padding: 10px 15px 10px 34px;
  background: $black;
  display: inline-block;
  @include link-arrow;

}

.m-help-header .top-faq li a:before {
  float: left;
  margin-top: 6px;
  margin-left: -19px;
}

.m-help-header .top-faq ul {
  @include unlist;
  margin-bottom: 40px;
}

.m-help-header .top-faq > a {
  //border: 3px solid $red;
  padding: 5px 15px;
  border-radius: 100px;
  color: $red;
  font-weight: 600;
  background:$yellow;
  color:$black;
  //@include link-arrow;
  transition: all .2s;
}

.m-help-header .top-faq > a:before {
  float: left;
  margin-top: 5px;
  margin-left: -19px;
}

.m-help-header .top-faq > a:hover {
  background: $red;
  color: $black;
}