/* Hero */

.m-hero {
  clear: both;
  min-height: 820px;
  height: 820px;
  background: #ccc;
  position: relative;
  margin-bottom: 15px;
  @include mq(small-tablet) {
    @include clearfix;
    height:auto;
    min-height:0;
  }
}

.m-hero .surtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: $yellow;
}

.m-hero .text-content {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 230px 80px 140px;
  background: rgba(0, 0, 0, 0.4);
  @include mq(tablet) {
    padding-left:40px;
    padding-right:40px;
  }
  @include mq(small-tablet) {
    width:100%;
    padding: 40px;
    height:auto;
  }
}

.m-hero--home .text-content {
  float: right;
  @include mq(small-tablet) {
    text-align: center;
    padding:20px;
  }
}

.m-hero .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: asset-url('map-2.png') center/cover no-repeat !important;
}

.t-homepage .m-hero .image {
  background: url(/example/map-2.png) center/cover no-repeat !important;
}

.m-hero h1 {
  @include font-display;
  line-height: 1.2;
  font-size: 64px;
  margin-top: 20px;
  color: $green;
  @include mq(tablet) {
    font-size: 46px;
  }
  @include mq(small-tablet) {
    font-size: 44px;
    margin-top:0;
  }
  @include mq(small-smartphone) {
    font-size: 34px;
  }
}

.m-hero a {
  background: transparentize($green, 0.5);
  color: #ffffff;
  padding: 17px 25px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -1px;
  display: inline-block;
  transition: all .2s;
  @include mq(smartphone) {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.m-hero a:hover {
  background: #efdf5b;
  color: $black;
}

.m-hero a:before {
  content: "\f0da";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1em;
  margin-right: 10px;
  z-index: 1;
}