/* Highlighted content */

.m-highlighted-content {
  top: 720px;
  right: 0;
  z-index: 1;
  text-align: center;
  margin-top: -180px;
  @include mq(small-tablet) {
    margin-top: -70px;
    position: relative;
    width: 100%;
    transform: none !important;
    border: 0;
    top: auto;
    right: auto;
    @include clearfix;
  }
}

.m-highlighted-content .record-cards {
  display: grid;
  padding: 0 100px 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  text-align: left;
  @include mq(tablet) {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: 0 40px 40px 40px;
  }
}

.m-highlighted-content .m-record-card {

  &:nth-child(even) {
    position: relative;
    top: -70px;
  }

  .wrapper {
    display: block;
    transition: all .4s;
    position: relative;
    @include link-animation;
    //height: 280px;
    height: auto;
    color: white;
    @include mq(small-smartphone) {
      height: 230px;
    }
  }

  .header {
    position: relative;
    height: 400px;
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .image:before {
    height: 100%;
    width: 101%;
    content: "";
    opacity: 0;
    position: absolute;
    background: #000;
    @include transition(all .4s);
  }

  .wrapper:hover .image:before {
    opacity: 0.4;
  }

  .text-content {
    @include top-and-tail;
    position: relative;
    /*    bottom: 0;
        left: 0;*/
    padding: 0;
    width: 100%;
    @include transition(all .4s);
    //@include transform(translate3d(0, 100%, 0));
  }

  .wrapper:hover .text-content {
    //@include transform(translate3d(0, 0, 0));
  }

  h1 {
    @include transition(all .4s);
    @include font-display;
    @include polygon-background(black, right);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding: 7px 12px;
    position: absolute;
    bottom: 0;
    max-width: 90%;
  }

  .text-content p {
    margin: 0 0 10px 0;
    max-height: 50%;
    width: 100%;
    padding: 20px;
    @include transition(all .4s);
    background: transparentize($black, 0.1);
  }

  .text-content p p {
    margin: 0;
    padding: 0;
  }

  .collection-indicator {
    display: block;
    float: left;
    @include font-display;
    font-weight: 600;
    transition: all .2s;
    color: black;
    padding: 7px 12px;
    @include polygon-background(yellow, bottom, false);
  }

}

.m-highlighted-content .m-record-card:nth-child(even) {
/*  @include mq(small-tablet) {
    //width: calc(50% - 8px);
    margin-left: 0;
    margin-right: 8px
  }
  @media screen and (max-width: 640px) {
    width: 100%;
    margin-right: 0;
  }*/
}

.m-highlighted-content .m-record-card:last-child {
  margin-bottom: 0;
  @include mq(tablet) {
    margin-bottom: 15px;
  }
}

.m-highlighted-content .m-record-card .image {
  @include record-card;
  background: #2f2f2f url(/example/4-large.jpg) center/cover no-repeat;
}

.m-highlighted-content h2 {
  text-align: center;
  display: inline-block;
  position: relative;
  color: white;
  z-index: 1;
  top: -60px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 100px;
  @include mq(smartphone) {
    top: -28px;
  }
}

.m-highlighted-content .m-record-card h1 {
  font-weight: 600;
  font-size: 26px;
  @include mq(smartphone) {
    font-weight: 400;
  }
}

.m-highlighted-content .m-record-card {
}

.m-highlighted-content .m-record-card.placeholder-0 {
  background: $navy url('../assets/images/placeholder/wide-01.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-1 {
  background: $red url('../assets/images/placeholder/wide-02.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-2 {
  background: $lilac url('../assets/images/placeholder/wide-03.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-3 {
  background: $green url('../assets/images/placeholder/wide-04.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-4 {
  background: $black url('../assets/images/placeholder/wide-05.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-5 {
  border: 5px solid red;
  background: $navy url('../assets/images/placeholder/wide-06.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-6 {
  background: $yellow url('../assets/images/placeholder/wide-07.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-7 {
  background: $orange url('../assets/images/placeholder/wide-08.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-8 {
  background: $red url('../assets/images/placeholder/wide-09.svg') center/cover;
}

.m-highlighted-content .m-record-card.placeholder-9 {
  background: $navy url('../assets/images/placeholder/wide-10.svg') center/cover;
}
