
/* Home logo */

.m-home-logo {
  float: left;
  width:50%;
  position:relative;
  margin-top: 260px;
  @include mq(small-tablet) {
    width:100%;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  @include mq(small-smartphone) {
    margin-top: 130px;
    margin-bottom: 70px;
  }
}

.m-home-logo a {
  transition:all .2s;
}

.m-home-logo a:hover {
  opacity:0.5;
}

.m-home-logo h1 {
  margin-top: 0;
  display: none;
}

.m-home-logo img {
  width: 490px;
  margin:0 auto;
  display:block;
  margin-top: -12px;
  @include mq(tablet) {
    width: 380px;
  }
  @include mq(small-smartphone) {
    width: 230px;
  }
}

.has-viewable-action {

}

.m-home-logo img.is-not-viewable {
  transform:scale(0.7);
  opacity:0;
}

.m-home-logo img.is-viewable {
  transition:all .6s ;
  transition-delay: 0s;
  transform:scale(1);
  opacity:1;
}