/* Home CTA Block */

.m-home-cta-block {
  height:600px;
  position: relative;
  @include clearfix;
  @include cta-block;
  clear:both;
}

.m-home-cta-block + .m-home-cta-block {
  margin-top:15px;
}