/* Home CTA Block */

.homepage-ctas-wrapper {
  //padding: 100px 60px 60px 60px;
  //background: $green;
  @include clearfix;
  @include mq(tablet) {
    padding: 40px 40px 40px 40px;
  }
  @include mq(smartphone) {
    padding: 30px 15px;
  }
}

.m-home-cta-block {
  @include clearfix;
  position: relative;
  width: 33.333333%;
  float: left;
  padding: 100px 60px;

  @include mq(tablet) {
    padding: 0 20px 0 0;
  }
  @include mq(smartphone) {
    width: 100%;
    max-width: 500px;
    padding: 0;
    margin: 0 auto 45px;
    float: none;
  }

  &:last-child {
    @include mq(smartphone) {
      margin-bottom: 0;
    }
  }

  .image {
    @include mq(tablet) {
    }
    @include mq(smartphone) {
      max-width: 50%;
    }
  }

  .image img {
    width: 100%;
    margin-left: -20px;
    max-width: 280px;
    @include mq(smartphone) {
      margin-left: 0;
    }
  }

  h3 {
    margin: 0;
    @include font-display;
    line-height: 1.3;
    font-size: 40px;
    display: inline-block;
    color: white;
    min-height: 70px;
    @include mq(tablet) {
      font-size: 30px;
    }
    @include mq(smartphone) {
      font-size: 26px;
      min-height: 0;
    }
  }

  .description {
    font-size: 16px;
    color: white;
    margin: 20px 0 28px;
    @include mq(tablet) {
      font-size: 14px;
    }
    @include mq(smartphone) {
      font-size: 13px;
    }
  }

  a.button {
    background: rgba(0, 0, 0, 0.3);
    color: $yellow;
    padding: 17px 25px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    transition: all .2s;
    @include mq(tablet) {
      padding: 11px 19px;
      font-size: 14px;
    }
    @include mq(smartphone) {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  a.button:hover {
    background: $yellow;
    color: $black;
  }

  a.button:before {
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1em;
    margin-right: 10px;
    z-index: 1;
  }

}

.m-home-cta-block:nth-child(1) {
  background: #6f2331;
}

.m-home-cta-block:nth-child(2) {
  background: #323332;
}

.m-home-cta-block:nth-child(3) {
  background: #327F90;
}

/*$black: #111111;
$yellow: #ffeb57;
$orange: #ffbe64;
$red: #ff0041;
$navy: #282878;
$gray: #dfdfde;
$green: #549a77;
$lilac: #a691c5;
$light-blue: #afd2ff;*/

.m-home-cta-block:nth-child(1) {
  background: #501621;
}

.m-home-cta-block:nth-child(2) {
  background: darken($gray, 70%);
  background: #30443b;
  margin-top: -40px;
  z-index: 100;
}

.m-home-cta-block:nth-child(3) {
  background: #398494;
}

.m-home-cta-block .image {
  display: none;
}

.m-home-cta-block:nth-child(1) .image-1 {
  display: block;
}

.m-home-cta-block:nth-child(2) .image-2 {
  display: block;
}

.m-home-cta-block:nth-child(3) .image-3 {
  display: block;
}