/* Layermaker map */

div#georeferencer-project-root {

  .leaflet-container {
    height: 600px;
    clear: both;

    .tile-layers {
      width: 100%;
      height: 100%;
    }
  }
}

/*

@import '../assets/styles/mixins';
@import '../assets/styles/colors';
@import '../assets/styles/modules/m-map-popover';
@import '../assets/styles/modules/m-record-card';


.m-map-popover .m-record-card {
  width: 200px;
  cursor:pointer;
}

.m-map-popover .m-record-card .wrapper {
  height: 100%;
}

.m-map-popover .m-record-card h1 {
  font-size: 14px;
}

.m-overlay {
  opacity: 1 !important;
  visibility: visible !important;
}


.m-map-area {
  z-index: 1;
}

.m-map-popover {
  display: block !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  width: 100% !important;
}

.m-layer-tools {
  z-index: 1099;
}

.georeferencer-project-map {
  width: 100%;
  height: 400px;

  .leaflet-container {
    height: 100%;
  }
}
*/

/*
.m-map-popover .m-record-card {
  width: 200px;
  cursor:pointer;
}

.m-map-popover .m-record-card .wrapper {
  height: 100%;
}

.m-map-popover .m-record-card h1 {
  font-size: 14px;
}

.m-overlay {
  opacity: 1 !important;
  visibility: visible !important;
}


.m-map-area {
  z-index: 1;
}

.m-map-popover {
  display: block !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  width: 100% !important;
}

.m-layer-tools {
  z-index: 1099;
}

.georeferencer-project-map {
  width: 100%;
  height: 400px;

  .leaflet-container {
    height: 100%;
  }
}
*/
