/* Layers slideshow */

.m-layers-slideshow {
  height: 90vh;
  max-height: 890px;
  position: relative;
}

// Slides

.m-layers-slideshow .rslides,
.m-layers-slideshow .rslides li {
  height: 100%;
}

.m-layers-slideshow .rslides:after {
  height: 26px;
  opacity: 0.4;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: -moz-linear-gradient(bottom, transparent 0%, #000 100%);
  background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, transparent), color-stop(100%, #000));
  background: -webkit-linear-gradient(bottom, transparent 0%, #000 100%);
  background: -o-linear-gradient(bottom, transparent 0%, #000 100%);
  background: -ms-linear-gradient(bottom, transparent 0%, #000 100%);
  background: linear-gradient(to bottom, transparent 0%, #000 100%);

  @include transition(all .4s);
}

// Controls

.m-layers-slideshow .controls {
  padding: 40px;
  padding-left: 80px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  @include mq(tablet) {
    left: 390px;
  }
  @include mq(smartphone) {
    left: auto;
    bottom: auto;
    top: 15px;
    right: 15px;
  }
}

.m-layers-slideshow .rslides_tabs {
  @include unlist;
}

.m-layers-slideshow .rslides_tabs li {
  display: inline-block;
  margin-right: 20px;
  @include mq(tablet) {
    margin-right: 20px;
  }
  @include mq(smartphone) {
    margin-right: 5px;
  }
}

.m-layers-slideshow .rslides_tabs li:last-child {
  margin-right: 0;
}

.m-layers-slideshow .rslides_tabs li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 100px;
  transition: all .2s;
  text-indent: -9999px;
  position: relative;
  @include mq(tablet) {
    width: 42px;
    height: 42px;
  }
  @include mq(smartphone) {
    width: 25px;
    height: 25px;
  }
}

.m-layers-slideshow .rslides_tabs li a:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 6px;
  top: 6px;
  background: $yellow;
  border-radius: 100px;
  transition: all .2s;
  transform: scale(0);
  background: #333;
  @include mq(tablet) {
    width: 18px;
    height: 18px;
    left: 12px;
    top: 12px;
  }
  @include mq(smartphone) {
    width: 13px;
    height: 13px;
    left: 6px;
    top: 6px;
  }
}

.m-layers-slideshow .rslides_tabs li a:hover:before {
  transform: scale(1);
}

.m-layers-slideshow .rslides_tabs li.rslides_here a:before {
  transform: scale(1);
  background: darken($yellow, 40%);
}


.m-layers-slideshow .rslides_tabs li a:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 44px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 20px solid $yellow;
  transform:translate3d(0, 25px, 0);
  transition:all .2s;
  @include mq(tablet) {
  }
  @include mq(smartphone) {
  }
}

.m-layers-slideshow .rslides_tabs li.rslides_here a:after {
  transform:translate3d(0, 0, 0);
}

.m-layers-slideshow img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.m-layers-slideshow .sidebar {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 440px;
  top: 150px;
}

.m-layers-slideshow .text-content {
  background: rgba(0, 0, 0, 0.75);
  padding: 50px;
  padding-left: 80px;

  .logo {
    width: 200px;
    margin-bottom: 40px;
  }

  @include mq(tablet) {
    left: 40px;
    padding: 20px;
    width: 300px;
    bottom: -20px;
  }

  @include mq(smartphone) {
    left: 15px;
    width: 290px;
  }

  h2 {
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    @include mq(tablet) {
    }
    @include mq(smartphone) {
    }
  }

  h3 {
    margin: 0;
    @include font-display;
    line-height: 1.1;
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 24px;
    display: inline-block;
    color: white;
    @include mq(tablet) {
      font-size: 34px;
    }
    @include mq(smartphone) {
      font-size: 26px;
    }
  }

  .description {
    font-size: 16px;
    color: white;
    margin: 20px 0 28px;
    @include mq(tablet) {
      font-size: 14px;
    }
    @include mq(smartphone) {
      font-size: 13px;
    }
  }

  a.button {
    background: $yellow;
    color: black;
    padding: 17px 25px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    transition: all .2s;
    @include mq(smartphone) {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  a.button:hover {
    background: $yellow;
    color: $black;
  }

  a.button:before {
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1em;
    margin-right: 10px;
    z-index: 1;
  }
}

.m-layers-slideshow .current-slide-information {
  padding: 20px 40px 20px 20px;
  padding-left: 80px;
  background: $yellow;
}