/* Navigation */

.m-navigation {
  @include mq(smartphone) {
    display:none;
  }
}

.m-navigation ul {
  @include unlist;
}

.m-navigation li {
  display: inline;
  margin-right: 20px;
}

.m-navigation li:last-child {
  margin-right: 0;
}

.m-navigation li.is-current {
  display: inline;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 6px;
  color: $yellow;
}

.m-navigation a {
  color: white;
  font-size: 20px;
  @include font-display;
  font-weight: 600;
  @include mq(tablet) {
    font-size: 18px;
  }
  @include mq(small-tablet) {
    font-size: 16px;
  }
}

.m-navigation a:hover {
  color: $yellow;
}

.m-navigation .user-actions {
  float: right;
}

.m-navigation .user-actions a {
  color: $yellow;
}

.m-navigation .is-current a {
  color: $yellow;
  cursor: default;
}