/* Page header */

.m-page-header {
  background: #ccc;
}

/* Hero */

.m-page-header {
  clear: both;
  //min-height: 680px;
  background: #ccc;
  position: relative;
  z-index: 2;
  padding: 0 80px;
  @include mq(tablet) {
    padding: 0 40px;
  }
  @include mq(smartphone) {
    padding: 0px;
  }
}

.m-page-header--small {
  height: 380px;
}

.m-page-header--nano {
  height: 305px;
  min-height: 305px;
  @include mq(smartphone) {
    height: 185px;
    min-height: 185px;
  }
}

.m-page-header .surtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: $yellow;
}

.m-page-header .text-content {
  height: 100%;
  position: relative;
  padding: 200px 0 0 0;
  color: white;
  @include clearfix;
  @include mq(tablet) {
    padding: 140px 0 0 0;
  }
  @include mq(smartphone) {
    padding: 20px;
  }
}

.m-page-header--small .text-content {
  padding: 220px 80px 140px;
}

.m-page-header--nano .text-content {
  padding: 140px 80px 140px;
  width: 100%;
  //background: rgba(0, 0, 0, 0.31);
  text-align: center;
  @include mq(smartphone) {
    padding: 80px 20px 0 20px;
  }
}

.m-page-header .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-bottom: 15px solid $black;
}

.t-help-centre .m-page-header .image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.t-content-page .m-page-header .image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.m-page-header h1 {
  @include font-display;
  line-height: 1.2;
  margin-top: 80px;
  font-family: 'Zilla Slab', serif;
  padding: 20px 30px;
  font-size: 54px;
  display: inline-block;
  background: #000c;
  background: transparentize($yellow, 0.1);
  color: black;
  width: calc(40% - 40px);
  text-align: right;
  min-height: 440px;
  font-weight: 800;
  padding-bottom: 130px;
  margin-bottom: -50px;
  @include mq(tablet) {
    font-size: 40px;
    width: calc(45% - 40px);
    min-height: 320px;
  }
  @include mq(smartphone) {
    width: auto;
    min-height: 0;
    font-size: 24px;
    margin-left: -20px;
    float: left;
    padding-bottom: 80px;
    margin-bottom: -40px;
    max-width: 80%;
  }
}

.m-page-header--nano h1 {
  min-height: 0;
  font-weight: 800;
  margin-top: -4px;
  width: auto;
  padding-bottom: 23px;
  background: $red;
  color: white;
  position: relative;
  @include mq(smartphone) {
    float: none;
  }
}

.m-page-header--help-centre a {
  position: absolute;
  @include link-arrow;
  background: darken($red, 10%);
  font-size: 16px;
  bottom: -15px;
  right: -15px;
  background: #cc0034;
  padding: 10px 15px;
  @include mq(smartphone) {
    font-size: 13px;
    padding: 5px 8px;
  }
}

.m-page-header--layermaker a {
  position: absolute;
  @include link-arrow;
  background: darken($red, 10%);
  font-size: 16px;
  bottom: -15px;
  right: -15px;
  background: #cc0034;
  padding: 10px 15px;
  @include mq(smartphone) {
    font-size: 13px;
    padding: 5px 8px;
  }
}


.m-page-header--layermaker span {
  @include kellum;
  display:inline-block;
  width: 85px;
  height: 102px;
  background:asset-url("logo.svg") center/contain no-repeat;
  margin-top: -32px;
  margin-bottom: -20px;
}