/* Section landing subpages */

.m-section-landing-subpages {

}

.m-section-landing-subpages {

}

.m-section-landing-subpages {
  text-align:center;
  padding:40px;
}

.m-section-landing-subpages h2 {
  text-transform:uppercase;
  font-size:14px;
  margin-top:30px;
  font-weight:normal;
}

.m-section-landing-subpages .subpage {
  width: 450px;
  background:white;
  display:inline-block;
  text-align:left;
  margin:20px 10px;
}

.m-section-landing-subpages .subpage .image {
  width: 100%;
  padding-bottom: 60%;
  background: #333;
}

.m-section-landing-subpages .subpage .indicator {
  background: white;
  padding: 4px 10px;
  float:left;
  margin-top: -33px;
  margin-left: -10px;
  display:inline-block;
}

.m-section-landing-subpages .subpage .text-content {
  padding:10px;
}