/* Site footer */

.m-site-footer {
  padding: 80px;
  clear: both;
  font-size: 14px;
  @include mq(tablet) {
    padding:40px;
  }
}

.m-site-footer .copyright {
  float: right;
  opacity: 0.3;
  color:white;
  @include mq(small-smartphone) {
    float:none;
    clear:left;
  }
}

.m-site-footer .footer-navigation {
  clear: both;
}

.m-site-footer .user-actions {
  @include unlist;
  float: left;
}

.m-site-footer .user-actions a {
  color: $yellow;
}

.m-site-footer .user-actions li {
  display: inline-block;
  margin-right: 10px;
}

.m-site-footer .partners {
  clear: both;
  margin-bottom: 50px;
  float: left;
  width: 75%;
  @include mq(small-tablet) {
    width:auto;
    float:none;
    display:inline;
  }
}

.m-site-footer .partners h3 {
  display: none;
}

.m-site-footer .partners .image {
  width: 100px;
  height: 100px;
  background: #ccc;
}

.m-site-footer .partners ul {
  @include unlist;
  text-align: left;
  @include mq(small-tablet) {
    display:inline;
  }
}

.m-site-footer .partners li {
  display: inline-block;
  filter: invert(100%);
  width: 33%;
  padding-right: 70px;
  @include mq(small-tablet) {
    width:50%;
    margin-right: -2px;
    margin-bottom:30px;
  }
  @include mq(smartphone) {
    padding-right: 30px;
  }
  @include mq(small-smartphone) {
    width:100%;
    margin-bottom:50px;
  }
}

.m-site-footer .partners li img {
  //width: 360px;
  max-width: 100%;
  opacity: 0.3;
  transition: all .2s;
}

.m-site-footer .partners li:first-child img {
  width: 300px;
}

.m-site-footer .partners li a:hover img {
  opacity: 1;
}

.m-site-footer .credentials {
  margin-bottom: 50px;
  float: left;
  width: 25%;
  @include mq(small-tablet) {
    float:none;
    width:auto;
    display:inline;
  }
}

.m-site-footer .credentials ul {
  @include unlist;
  text-align: left;
  @include mq(tablet) {
    display:inline;
  }
}

.m-site-footer .credentials ul li {
  padding-left: 70px;
  @include mq(small-tablet) {
    width:50%;
    margin-right: -2px;
    margin-bottom:30px;
    padding-left:0;
    display:inline-block;
    padding-right: 180px;
  }
  @include mq(smartphone) {
    padding-right: 80px;
  }
  @include mq(small-smartphone) {
    width:100%;
    margin-bottom:50px;
  }
}

.m-site-footer .credentials li img {
  max-width: 100%;
  opacity: 0.3;
  transition: all .2s;
}
