/* Tag groups list */

.m-home-tags {
  padding: 100px;
}

.m-tag-groups-list {
  @include grid(4, 30px, 30px);
}

.m-tag-groups-list li {
  position: relative;
  text-align: center;
}

.child-tags {
  @include grid(2, 10px, 10px);
  background: $yellow;
  padding: 20px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px !important;
  @include spike('top', $yellow, 20px, 30px);
}

.child-tags a {
  color: black;
}