/* Event meta */

.m-event-meta {
  background:#ccc;
  padding:20px;

}

.m-event-meta > div {
  margin-bottom:20px;
}
.m-event-meta h3 {
  text-transform: uppercase;
  display:block;
  font-size:12px;
  margin-bottom:4px;
  font-weight:bold;
  margin-top:0;
}

.m-event-meta span {
  font-size: 16px;
  display:block;
}

