/* Guides */

.m-guides {
  padding: 0px 80px 40px 80px;
  padding-bottom: 50px;
  background: #a690c526;
  @include clearfix;
}

.m-guides h2 {
  @include polygon-background(yellow, top, true);
  display:inline-block;
  padding:20px;
  margin-bottom: 70px;
  font-weight: 200;
  text-transform: uppercase;
  color: #131313;
  margin-top: -28px;
}

.m-guides .guide a {
  position: relative;
  display: block;
  width: calc(33.333333% - 15px);
  margin-right:15px;
  float: left;
  position: relative;
  height: 120px;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 2px;
  background: #36323e;
}

.m-guides .guide h3 {
  width: 100%;
  font-size: 32px;
  @include font-display;
  margin: 0;
  color: $lilac;
  //@include link-arrow;
}

.m-guides .guide h3:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0.6em;
  margin-top: 10px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f0da";
  float:right;
}

.m-guides .guide .description {
  margin: 0;
  color: white;
}

