/* Navigation */

.m-navigation ul {
  @include unlist;
}

.m-navigation li {
  display: inline;
  margin-right:20px;
}

.m-navigation li.is-current {
  display: inline;
  margin-right:20px;
  text-decoration:underline;
  color:$yellow;
}

.m-navigation a {
  color:white;
  text-transform:uppercase;
  font-size:15px;
  @include font-display;
  font-weight: 600;
}

.m-navigation a:hover {
  color:$yellow;
}

.m-navigation .user-actions {
  float: right;
}

.m-navigation .is-current a {
  color:$yellow;
  cursor:default;
}