/* Site wrapper */

.m-site-wrapper {
  margin:0 auto;
  //background:url('shape.svg') -68px 76%/630px no-repeat, url('shape-2.svg') 720px 90%/930px no-repeat;
  //background:url('shape.svg') -68px 76%/630px no-repeat;
  padding:1px 0;
  color:white;
  @include clearfix;
}