<script type="text/javascript">
    window.__STATE = {collectionStore: {}, layersStore: {}, mapViewStore: {}, trayViewStore: {}}
    window.__TAXONOMIES = <%= raw Taxonomy.includes(:taxonomy_terms).all.inject({}) {|h, taxonomy| h[taxonomy.name] = {title: taxonomy.title, terms: taxonomy.taxonomy_terms.collect{|term| {name: term.name, title: term.title} }} ; h}.to_json %>
    window.__USER_PRESENT = <%= user_signed_in? %>
    <% if user_signed_in? %>
        window.__USER = <%= raw({
            id: current_user.id,
            email: current_user.email,
            name: current_user.name,
            username: current_user.email
        }.to_json) %>
    <% else %>
          window.__USER = <%= raw({
            id: nil
        }.to_json) %>
    <% end %>
</script>

<div id="map-root"></div>
