<%= form_with(model: team, url: leave_team_path, method: :post, local: true) do |form| %>
  <button type="submit" class="leave-team" data-confirm="Are you sure you want to leave this team?">Leave team</button>
<% end %>
