@import "../assets/styles/application";
@import "../assets/styles/library/mediaelement";
@import "../../../node_modules/react-quill/dist/quill.snow";
@import "../../../node_modules/react-quill/dist/quill.bubble";
@import '../../../node_modules/react-datepicker/dist/react-datepicker.css';

.leaflet-container {
  height: 100%;
  width: 100%;
}

.record-card-container {
  background: #fff;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: transparent;
  color: #333;
  box-shadow: none;
}

// fixme: remove these once prototype is frozen.
// we need to override some styles from the prototype

.m-map-popover .m-record-card {
  width: 200px;
  cursor:pointer;
}

.m-map-popover .m-record-card .wrapper {
  height: 100%;
}

.m-map-popover .m-record-card h1 {
  font-size: 14px;
}

.m-overlay {
  opacity: 1 !important;
  visibility: visible !important;
}


.m-map-area {
  z-index: 1;
}

.m-map-popover {
  display: block !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  width: 100% !important;
}

.m-layer-tools {
  z-index: 1099;
}

@import 'rc-slider/assets/index.css';

.m-layer-tools .panel div[data-react-beautiful-dnd-draggable] {
  height: 30px;
}

.clipped-tilelayer {
  clip-path: circle(140px at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%));
}

.m-add-media-and-documents .thumbs {
  li[class^=type-] {
    position: relative;

    a span:after {
      font-family: FontAwesome;
      font-size: 5em;
      position: absolute;
      margin: 0 25%;
    }
  }

  li.type-document {
    a span {
      background: transparent;

      &:after {
        content: "\f1c1";
      }
    }
  }

  li.type-geodata {
    a span {
      background: transparent;

      &:after {
        content: "\f279";
      }
    }
  }

  li[class^='loading type-']:after {
    content: "\f279";
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.m-search-overlay .filters-content {
  display: block !important;
}

.media-item-enter {
  opacity: 0;
  z-index: 1;
}

.media-item.media-item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -ms-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

// dont show chosen options on record collection form
/*.m-add-record .m-accordion .css-10nd86i .css-1rtrksz:after {
  content: "Choose a collection...";
  color: #b4b4b4;
}*/

.m-add-record .m-accordion .css-10nd86i .css-1rtrksz .css-xwjg1b {
  display: none;
}

// dont show 'clear' button on record collections form
.m-add-record .m-accordion .css-10nd86i .css-1wy0on6 {
  .css-1sjym57,
  .css-d8oujb,
  .css-1ep9fjw {
    display: none;
  }
}

.react-datepicker-wrapper input {
  font-size: 0.9em;
}