<div class="m-site-footer">
  <div class="partners">
    <h3>Partners & Supporters</h3>
    <ul>
      <li><a href="#"><img src="/assets/logo-sas.png" alt="Logo sas"></a></li>
      <li><a href="#"><img src="/assets/logo-lottery.png" alt="Logo lottery"></a></li>
      <li><a href="#"><img src="/assets/logo-ihr.png" alt="Logo ihr"></a></li>
    </ul>
  </div>
  <div class="footer-navigation">

    <%= menu_for(@footer_navigation_menu, class: 'user-actions', current_class: 'is-current') %>
  </div>

  <div class="copyright">2018 &copy; Layers of London</div>
</div>