
<div class="m-site-header">
  <div class="m-logo">
    <a href="/">
      <h1>Layers of London</h1>
      <%= image_tag("logo.svg") %>
    </a>
  </div>
  <div class="m-navigation">
    <ul class="user-actions">
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
    <%= menu_for(@main_navigation_menu, class: 'main-navigation', current_class: 'is-current') %>
  </div>
</div>