<div id="m-page-header" class="m-page-header m-page-header--help-centre m-page-header--nano <%= local_assigns.has_key?(:class) ? local_assigns[:class] : "" %>">
    <div class="image" id="m-page-header-image" style="background-image: url('<%= post.hero_image %>');"></div>
    <div class="text-content">
        <h1 class="viewable">Help Centre<a href="/help-centre">Help centre home</a></h1>
    </div>
</div>