<div class="m-overlay-subnavigation">
    <ul>
        <li class="is-current"><a href="#" data-link-target="details">Account details</a></li>
        <li><a href="#" data-link-target="teams">Teams</a></li>
        <li><a href="#" data-link-target="records-collections">Records & collections</a></li>
        <li><a href="#" data-link-target="for-teachers">For teachers</a></li>
    </ul>
</div>