<div class="m-record-card">
    <a href="#" class="wrapper">
        <div class="image random-image"></div>
        <div class="text-content">
            <h1 class="random-title"><%= post.title %></h1>
            <%#= post.description %>
        </div>
        <div class="link-indicator"></div>
    </a>
</div>
