<div class="m-record-card">
    <a href="#" class="wrapper">
        <div class="image random-image"></div>
        <div class="text-content">
            <h1 class="random-title">Donec pretium elementum interdum</h1>
            <p>Curabitur eget feugiat odio. Interdum et malesuada fames ac ante ipsum primis in
                faucibus.
                Nunc
                feugiat porttitor sapien. Donec luctus.</p>
        </div>
        <div class="link-indicator"></div>
    </a>
</div>
