<div class="s-overlay--your-account--for-teachers">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <%= render "shared/overlay-subnavigation" %>

    <div class="m-account-page">

        <div class="wrap">

            <!--<h1>Teams</h1>-->

            <p>If you are a teacher, you can activate extra functions which will allow you to share a login with your
                class. Your pupils can then add a and edit content using your account, which you can then moderate for
                quality before submitting.</p>


            <button>Show teacher functions</button>


        </div>

    </div>

</div>