<div class="s-overlay--your-account--records-collections">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <%= render "shared/overlay-subnavigation" %>

    <div class="m-account-page m-account-page--records-collections">

        <div class="wrap">

            <!--<h1>Records & collections</h1>-->

            <div class="section section--records">
                <h2>Your records</h2>
                <ul>
                    <li><a href="#">Ut lacinia mollis imperdiet</a><button class="edit">Edit</button></li>
                    <li><a href="#">Duis sagittis varius auctor</a><button class="edit">Edit</button></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a><button class="edit">Edit</button><span class="draft-indicator">Draft</span></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a><button class="edit">Edit</button></li>
                    <li><a href="#">Ut lacinia mollis imperdiet</a><button class="edit">Edit</button></li>
                    <li><a href="#">Duis sagittis varius auctor</a><button class="edit">Edit</button><span class="draft-indicator">Draft</span></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a><button class="edit">Edit</button></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a><button class="edit">Edit</button></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a><button class="edit">Edit</button></li>
                    <li><a href="#">Ut lacinia mollis imperdiet</a><button class="edit">Edit</button></li>
                    <li><a href="#">Duis sagittis varius auctor</a><button class="edit">Edit</button></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a><button class="edit">Edit</button></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a><button class="edit">Edit</button></li>
                </ul>
            </div>

            <div class="section section--collections">
                <h2>Your collections</h2>
                <h3>Created by you</h3>
                <ul class="created-by-you">
                    <li><a href="#">Ut lacinia mollis imperdiet</a><button class="Edit">Edit</button></li>
                    <li><a href="#">Duis sagittis varius auctor</a><button class="Edit">Edit</button></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a><button class="Edit">Edit</button></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a><button class="Edit">Edit</button></li>
                </ul>
                <h3>Created by your teams</h3>
                <ul>
                    <li><a href="#">Ut lacinia mollis imperdiet</a></li>
                    <li><a href="#">Duis sagittis varius auctor</a></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a></li>
                    <li><a href="#">Ut lacinia mollis imperdiet</a></li>
                    <li><a href="#">Duis sagittis varius auctor</a></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a></li>
                </ul>
            </div>


        </div>

    </div>

</div>