<div class="s-overlay--your-account--details">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <%= render "shared/overlay-subnavigation" %>

    <div class="m-account-page m-account-page--details">

        <!--<h1>Your account</h1>-->

        <form class="form--chunky form--over-white">

            <div class="form-group">
                <label>Email</label>
                <input type="text" placeholder="" value="sam.briggs@gmail.com"/>
            </div>

            <div class="form-group form-group--description">
                <label>Description</label>
                <textarea rows="10" placeholder=""></textarea>
            </div>

            <div class="form-group form-group--profile-pic">
                <label>Profile pic</label>
                <div class="image"></div>
            </div>

            <div class="form-group form-group--single-checkbox">
                <p class="helper-text">Allow users to contact you</p>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>If this box is checked other users will be able to send you a message via email - from links on your records and collections. Your email address will not be shared. </span>
                </label>
            </div>


            <div class="form-group">
                <label>Change my password</label>
                <button>Change my password</button>
            </div>

            <div class="form-group">
                <label>Delete account</label>
                <button>Delete account</button>
            </div>

        </form>
    </div>

</div>