<div class="s-overlay--date-range">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <div class="m-date-range-overlay">

        <div class="header">
            <h1>Date range</h1>
            <p>Pick a start year, and end year…</p>
        </div>

        <div class="date-box date-box--start">
            <h2>Start year</h2>
            <input type="text" placeholder="1000">
        </div>

        <div class="date-box date-box--start">
            <h2>End year</h2>
            <input type="text" placeholder="2018">
        </div>

        <div class="era-picker">

            <p>…or pick an era:</p>

            <ul class="eras">
                <li><a href="#">21st Century (2000-)</a></li>
                <li><a href="#">Post World War II (1945-1999)</a></li>
                <li><a href="#">Interwar (1918-1939)</a></li>
                <li><a href="#">World War I (1914-1918)</a></li>
                <li><a href="#">Edwardian (1901-1914)</a></li>
                <li><a href="#">Victorian (1837-1901)</a></li>
                <li><a href="#">Hanoverian (1714-1837)</a></li>
                <li><a href="#">Stuart (1603-1714)</a></li>
                <li><a href="#">Elizabethan (1558-1603)</a></li>
                <li><a href="#">Tudor (1485-1603)</a></li>
                <li><a href="#">Late Medieval (1398-1485)</a></li>
                <li><a href="#">High Medieval (1216-1398)</a></li>
                <li><a href="#">Early Medieval (AD410-1216)</a></li>
            </ul>

        </div>

        <button>Done</button>

    </div>


</div>