<div class="s-overlay--search">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <div class="m-search-overlay">

        <h1>Search</h1>

        <form class="form--chunky">

            <div class="form-group form-group--single-checkbox">
                <label>
                    <input type="checkbox"/>
                    <span>Only search in area shown on map</span>
                </label>
            </div>

            <div class="form-group form-group--primary-field">
                <input type="text" placeholder="Enter a place or topic…"/>
            </div>

            <div class="form-group form-group--checklist form-group--replaced-checkboxes">
                <h2 class="label">Media</h2>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>Images</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Video</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Audio</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>File uploads</span>
                </label>
            </div>

            <div class="form-group form-group--checklist form-group--replaced-checkboxes">
                <h2 class="label">Type</h2>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>Places</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>People</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Items</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Events</span>
                </label>
            </div>

            <div class="form-group form-group--checklist form-group--replaced-checkboxes">
                <h2 class="label">Theme</h2>
                <label>
                    <input type="checkbox"/>
                    <span>Political & government</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Social & health</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Education</span>
                </label>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>Industry & commerce</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Religion & worship</span>
                </label>
                <label>
                    <input type="checkbox"/>
                    <span>Transport</span>
                </label>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>War & conflict</span>
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Search"/>
            </div>

        </form>

        <div class="date-range-link">
            <a href="#">
                <h1>Search by date range</h1>
                <p>You can set a date range too by clicking the clock icon in the tool bar.</p>
            </a>
        </div>

    </div>

</div>