<div class="s-overlay--record">

    <div class="m-record">

        <div class="next">
            <button class="next">Next</button>
        </div>
        <div class="previous">
            <button class="previous">Previous</button>

        </div>
        <div class="close">
            <button class="close">Close</button>
        </div>

        <div class="wrap">

            <div class="m-record-hero">
                <div class="image random-image-large"></div>
            </div>

            <div class="meta">

                <div class="dates">
                    <span class="date start-date"> 1 Jan 1857</span>
                </div>

                <div class="creator">By <a href="#">Abigail Winters</a></div>

            </div>

            <div class="social">
                <div class="social-status">
                    <button class="like"><span>Like</span></button>
                    173 views<br/> 54 likes
                </div>

                <div class="share-record">
                    <button class="share"><span>Share</span></button>
                    Share
                </div>
            </div>

            <div class="title">
                <h1>Mary Seacole residence and plaque</h1>
            </div>

            <div class="sidebar">

                <div class="place">
                    <div class="map"></div>
                    <div class="text">Palace St, Westminster, London SW1E <br />51.497275, -0.139333</div>
                </div>

                <div class="actions">
                    <button class="add-to-collection">Add to collection</button>
                    <button class="contact-owner">Contact owner</button>
                    <button class="flag">Flag</button>
                    <button class="edit">Edit</button>
                </div>

            </div>

            <div class="m-article">
                <p>Sydney’s case is rather different. He enlisted into the Royal Army Medical Corps on 15 June 1916. As
                    a Christian he knew he would not be able to take part in combat but felt it his duty to help by
                    tending to the sick and wounded. At the end of 1915, still well before conscription came in, he was
                    posted to Egypt.</p>
                <p>There the Army tried to transfer him into a combatant unit (2/13th London Regiment), but “he refused
                    to accept combatant service” and was court martialled in Egypt on 28th July 1918. He received a very
                    harsh sentence: 5 years penal servitude – this was commuted to 2 years Hard Labour and he was
                    reduced to the ranks. He served his sentence in Citadel Prison, Cairo.</p>
                <p>Questions about Sydney were asked in the House of Commons on 20 and 27 May 1919 of the Secretary of
                    State for War (Winston Churchill), referring to the fact that he had 3 years useful voluntary
                    service in RAMC and was then transferred “against his will, to a combatant unit, although he made it
                    quite clear that he could not conscientiously undertake combatant work”. The questioner, Col.
                    Wedgwood, asked Churchill if he was aware “that this man has already served nearly twelve months’
                    hard labour; and whether it is intended to reward his voluntary service by keeping him in prison for
                    another year?” Obviously there was deep concern, even among the military, about Sydney’s case.</p>
                <p>Before the War Sydney had been a member of the congregation of the Presbyterian Church in Crouch Hill
                    since 1st October 1911. By 1913 he had become the Secretary of the Church’s Young Men’s Debating
                    Society which held weekly debates and some lectures and in 1914 he took on the role of their
                    Reception Convenor (we are not certain what that entailed).</p>
                <p>Sydney was only 22 when he joined up – his peace-time occupation was Clerk to Title Agents. At the
                    time of enlistment he lived at 29 Nelson Road, Hornsey Vale. His parents were Mary and Walter
                    Crisfield, the latter a traveller in woollen goods. According to the 1911 Census they had had 7
                    children of whom only two boys and two girls were still living. One son, Edwin, had died in 1902
                    aged 16. In 1901 the family lived at 24 Birkbeck Road (a poorer part of Hornsey) sharing the house
                    with another family.</p>
                <p>Sydney died in Lewes, Sussex in 1976 aged about 84.</p>
                <p>PR/IWM</p>
            </div>

            <div class="attribution">
                <ul>
                    <li><h4>Created:</h4> 22nd June 2017</li>
                    <li><h4>Credits:</h4> Curabitur eu euismod risus</li>
                </ul>
            </div>



        </div>

    </div>

</div>