<div class="s-overlay--your-account--team-owner">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <%= render "shared/overlay-subnavigation" %>

    <div class="m-account-page m-account-page--team">

        <div class="wrap">

            <div class="section section--team-header">

                <h1>Basingstoke Historical Society</h1>
                <button class="delete-team">Delete team</button>
                <button class="show-on-map">Show on map</button>
                <span class="type">You are the owner of this team.</span>

            </div>

            <div class="section section--members">

                <h2>Invite a new member</h2>

                <form class="form--chunky form--over-white">

                    <div class="form-group">
                        <!--<label>Email</label>-->
                        <input type="text" placeholder="" value="Email"/>
                    </div>

                    <p class="helper-text">Comma separated list is fine.</p>

                    <input type="submit" value="Send"/>

                </form>

                <h2>Members</h2>

                <ul>
                    <li><a href="#">Mrs Clark</a><span class="ownership-indicator">Owner</span></li>
                    <li><a href="#">Barry Michaels</a><button class="remove">Remove from team</button></li>
                    <li><a href="#">Harold Wright</a><button class="remove">Remove from team</button></li>
                    <li><a href="#">Jenny Sanderson</a><button class="remove">Remove from team</button></li>
                    <li><a href="#">Thomas Gregory</a><button class="remove">Remove from team</button></li>
                </ul>

            </div>

            <div class="section section--collections">

                <h2>Collections</h2>

                <ul>
                    <li><a href="#">Ut lacinia mollis imperdiet</a><button class="remove">Remove from team</button></li>
                    <li><a href="#">Duis sagittis varius auctor</a><button class="remove">Remove from team</button></li>
                    <li><a href="#">Proin dapibus ligula sit amet finibus</a><button class="remove">Remove from team</button></li>
                    <li><a href="#">Aenean scelerisque hendrerit venenatis</a><button class="remove">Remove from team</button></li>
                </ul>

            </div>

        </div>

    </div>

</div>