<div class="s-overlay--layers is-showing">

    <div class="close">
        <button class="close">Close</button>
    </div>


    <div class="m-layers-picker">

        <div class="header">
            <h1>Layers</h1>
            <div class="search">
                <input type="text" placeholder="Search">
                <input type="submit" placeholder="Go">
            </div>
            <p>Activate the following layers on the map</p>
        </div>

        <div class="layers">
            <h2>For your date range (1850 - 1900)</h2>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Roque map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>RAF photos</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
        </div>

        <div class="layers">
            <h2>All Layers</h2>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Roque map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>RAF photos</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Satellite imagery</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Williams Survey map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
            <div class="layer">
                <a href="#">
                    <div class="image"></div>
                    <h2>Samson map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                        ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </a>
            </div>
        </div>

        <button>Done</button>

    </div>

</div>