<div class="s-tray-area--introduction">

    <div class="m-tray-title-area">
        <h1>Welcome!</h1>
    </div>

    <div class="m-onboard-intro">

        <div class="blurb">
            <p>Using the controls you can search, filter by date range, and choose various photographic layers to
                overlay the map. </p>
        </div>

    </div>

    <div class="m-quickstart-search">
        <h2>Quick search</h2>
        <form class="form--over-white">
            <div class="form-group">
                <input type="text" placeholder="Enter a place or topic…">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>

    <div class="m-example-searches">

        <h2>Example searches</h2>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Brixton archways</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
                <div class="link-indicator"></div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Pubs of Lewisham</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
                <div class="link-indicator"></div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Churches in 17th century that exist today</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
                <div class="link-indicator"></div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Brixton archways</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
                <div class="link-indicator"></div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Pubs of Lewisham</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
                <div class="link-indicator"></div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Churches in 17th century that exist today</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
                <div class="link-indicator"></div>
            </a>
        </div>

    </div>

</div>