<% root = page.root.resolve %>
<% if root.children.any? %>
    <div class="m-subnavigation">
        <h2>In this section</h2>
      <%= subnavigation_for(root, current_class: 'is-current', current: page) %>
    </div>
<% end %>