<% content_for :equivalent_url_in_iframe, '/map/account/teams' %>

<div class="s-overlay--your-account--teams is-showing">
    <div class="m-account-page m-account-page--teams">
        <div class="wrap">

            <div class="section">
                <h2>Your teams and requests</h2>
                <% if @teams.any? %>
                    <ul>
                        <%= render partial: 'teams/team', collection: @teams %>
                    </ul>
                <% else %>
                    <p>You aren't part of any teams yet.</p>
                <% end %>
            </div>

        </div>
        <div class="wrap">
            <% if policy(Team).search? %>
                <div class="section">
                    <h2>Apply to join a team</h2>
                    <%= render 'teams/forms/join_team' %>

                </div>
            <% end %>

            <% if policy(Team).new? %>
                <div class="section">
                    <h2>Create a new team</h2>
                    <%= render 'teams/forms/create_team', team: @team %>
                </div>

            <% end %>
        </div>
    </div>
</div>