<%= content_for :body_class do %>t-article-page<% end %>

<% content_for :template do %>

    <%= render 'shared/help_center_header', post: faq %>

    <main class="main--content main--faq">

        <div class="background"><div class="motion-background" id="motion-background"></div></div>

        <div class="m-joined-title">
            <div class="tag">FAQ</div>
            <h2><%= faq.title %></h2>
        </div>

        <div class="m-content">

            <div class="m-article">

                <%= faq.content %>

            </div>

        </div>

    </main>

<% end %>
