<% content_for :title, "Not allowed" %>
<p>You've reached a page you're not allowed to access.</p>
<p></p>It's possible you're trying to access a record, collection or other data which isn't yours, or perhaps the data you sent wasn't accepted by the server.</p>

<p>If you think this is a mistake, please <a href="mailto:<%= Rails.configuration.x.contact_mail_address %>">contact us</a>.</p>