<% content_for :title, "Page not found" %>
<p>We couldn't find the page you requested.</p>
<p>Sorry, the page you're looking for can't be found. If you think this is a mistake, please <a href="mailto:<%= Rails.configuration.x.contact_mail_address %>">let us know</a>.</p>
