<% content_for :title, "Server error" %>
<p>The server encountered an error when trying to process your request, and the technical team have been notified. It might be a temporary thing so it's worth trying again.</p>

<p>Layers of London is still in active development and you might have encountered a bug we haven't fixed yet. We'll get details of what you were doing, and will fix it as soon as possible.</p>
