<div class="m-content">

    <!--<h1 class="title">Post: <%= post.title %></h1>-->

    <div class="m-article">

        <div class="intro">
            Providing architectural, historic, economic and scientific information on the city and its people; and are important records of everyday life, work and culture in the capital.
        </div>

        <%= post.content %>

    </div>

</div>