<div class="current-layers">
    <div class="layer-card">
        <img src="" alt="">
        <h3>
            RAF Photos
        </h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa cum debitis dicta dignissimos
            eaque esse fugiat impedit ipsum, laborum modi mollitia nemo, nihil quae quo sint soluta vero! A.
        </p>
    </div>

    <div class="layer-card">
        <img src="" alt="">
        <h3>
            RAF Photos
        </h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa cum debitis dicta dignissimos
            eaque esse fugiat impedit ipsum, laborum modi mollitia nemo, nihil quae quo sint soluta vero! A.
        </p>
    </div>

    <div class="layer-card">
        <img src="" alt="">
        <h3>
            RAF Photos
        </h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa cum debitis dicta dignissimos
            eaque esse fugiat impedit ipsum, laborum modi mollitia nemo, nihil quae quo sint soluta vero! A.
        </p>
    </div>
</div>