
<%= form_tag("/teams/join", method: "post",  class: 'form--chunky form--over-white') do %>
  <input type="hidden" name="is_form" value="1">


  <div class="form-group">
    <label>Search for a team</label>
    <%= text_field_tag(:query) %>
  </div>


  <%= submit_tag("Request to join") %>

<% end %>