<!DOCTYPE html>
<html>
<head>
    <title>Layers of London<%= content_for?(:title) ? "- #{yield(:title)}" : "" %></title>
      <%= stylesheet_link_tag 'marketing' %>



</head>
<body>

<%= content_for?(:template) ? yield(:template) : yield %>

</body>
</html>
