<!DOCTYPE html>
<html>
<head>
    <title>Layers of London<%= content_for?(:title) ? "- #{yield(:title)}" : "" %></title>
      <%= stylesheet_link_tag 'marketing' %>

      <%= javascript_include_tag 'marketing' %>

      <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700|Muli:400,600,700" rel="stylesheet">

</head>
<body>

<%= content_for?(:template) ? yield(:template) : yield %>

</body>
</html>
