// Account page

.m-account-page {
/*  padding: 40px;
  background: white;
  max-width: 900px;
  margin: 0 auto 100px;*/
  @include clearfix;
  @include overlay-wrap-white;
  max-width: 900px;
  margin-top:0;
}

.m-account-page .section {
  @include clearfix;
}

.m-account-page .section + .section {
  border-top: 1px solid #bbb;
  margin-top: 20px;
  padding-top: 20px;
}

.m-account-page ul {
  @include unlist;
  font-size: 14px;
}

.m-account-page h2 {
  margin-top: 0;
}

.m-account-page.m-account-page--records-collections .section {
  width: 50%;
  float: left;
  border-top: 0;
  margin-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #bbb;
  padding-top: 0;
}

.m-account-page.m-account-page--records-collections .section:first-child {
  padding-left: 0;
  border: 0;
}

.m-account-page .draft-indicator {
  text-transform:uppercase;
  opacity:0.5;
  float:right;
  margin: 4px 4px 0px 4px;
  font-size:12px;
}

.m-account-page.m-account-page--records-collections .section:last-child {
  padding-right: 0;
}

.m-account-page li {
  @include clearfix;
  margin-bottom: 10px;
}

.m-account-page li button {
  float: right;
  margin-left: 6px;
  font-size: 12px;
}

.m-account-page .created-by-you li a {
  width: 50%;
  display: inline-block;
}

.m-account-page .ownership-indicator {
  text-transform: uppercase;
  margin-left: 30px;
  float:right;
}

.m-account-page input[type="submit"] {
  float: right;
}

.m-account-page .form-group--checkboxes-columns label {
  width: 50%;
}

// Records & collections

.m-account-page.m-account-page--records-collections .section {
  width: 50%;
  float: left;
  border-top: 0;
  margin-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #bbb;
  padding-top: 0;
}

.m-account-page.m-account-page--records-collections .section:first-child {
  padding-left: 0;
  border: 0;
}

.m-account-page.m-account-page--records-collections .section:last-child {
  padding-right: 0;
}

// Details

.m-account-page--details .form-group--description {
  width: calc(100% - 200px);
  padding-right: 20px;
  float: left;
}

.m-account-page--details .form-group--profile-pic {
  width: 200px;
  float: left;
  height: 300px;
}

.m-account-page--details .form-group--profile-pic .image {
  width: 200px;
  height: 200px;
  background: url('/profile-pic.png') center/cover;
}

.m-account-page--details .form-group--single-checkbox {

  clear:both;
  width:66.666666%;
}

.m-account-page--details .form-group--single-checkbox .helper-text {
  text-transform:uppercase;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.m-account-page--details .form-group--single-checkbox label {
  padding-left:20px;
  text-transform:none;
  font-size:16px;
}

.m-account-page--details .form-group--single-checkbox input {
  float:left;
  margin-left:-20px;
  width:auto;
}

// Team

.m-account-page--team .section--team-header h1 {
  margin-top: 0;
  float: left;
  margin-bottom: 7px;
}

.m-account-page--team .section--team-header button {
  margin-left: 6px;
  float: right;
}

.m-account-page--team .section--team-header .type {
  clear: both;
  display: block;
}

.m-account-page--team .section--members {
  width: 50%;
  float: left;
  padding-right: 20px;
  border-right: 1px solid #bbb;
  padding-top: 0;
}

.m-account-page--team .section--collections {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-top: 0;
}

.m-account-page--team .section--members h2 {
  clear: both;
}

.m-account-page--team .section--collections li a {
  width: 50%;
  display: inline-block;
}