// Accordion

.m-accordion {
}

.m-accordion .section {
  margin: 0 -50px;
  padding: 10px 40px;
  transition: all .2s;
}

.m-accordion .section + .section {
  border-top: 2px dashed #ddd;
}

.m-accordion .section.is-open {
  background: $yellow;
  padding: 10px 40px;
  border: 0;
}

.m-accordion .section.is-open + .section {
  border: 0;
}

.m-accordion .section.is-open:last-child {
  margin-bottom: 40px;
}

.m-accordion .section:last-child {
  border-bottom: 0;
}

.m-accordion .pane {
  display: none;
  margin-bottom: 30px;
}

.m-accordion .pane > *:first-child {
  margin-top: 0;
}

.m-accordion .pane.is-showing {
  display: block;
}

.m-accordion .title {
  color: $green;
  cursor: pointer;
}

/*.m-accordion .title:hover {
  color:$link-hover-color;
}*/

.m-accordion .title:after {
  content: "+";
  float: right;
}