// Account page

.m-account-page-wrapper {
  @include clearfix;
  @include overlay-wrap-white;
  //max-width: 900px;
  margin-top: 0;
  @include mq(tablet) {
    margin-top: 0;
  }
}

.m-account-page-wrapper iframe {
  width: 100%;
  max-width: 100%;
}

.m-account-page {
  @include clearfix;
  color: #222;
  background: white;
}

.m-account-page {
}

.m-account-page a {
  color: $green;
  font-weight: 700;
}

.m-account-page .section {
  @include clearfix;
}

.m-account-page .section + .section {
  border-top: 2px dashed #f2eeee;
  margin-top: 20px;
  padding-top: 20px;
}

.m-account-page ul {
  @include unlist;
  font-size: 14px;
}

.m-account-page h2 {
  margin-top: 0;
  background: #edece5;
  color: #131313;
  display: inline-block;
  padding: 2px 10px;
  @include font-display;
}

.m-account-page li {
  @include clearfix;
  margin-bottom: 10px;
}

.m-account-page li button,
.m-account-page li a.button {
  float: right;
  margin-left: 6px;
  font-size: 12px;
  padding: 3px 5px;
  transition:all .2s;
}

.m-account-page li a.button {
  @include lozenge-button;
  color: $black;
  font-weight: normal;
}

.m-account-page li button:hover,
.m-account-page li a.button:hover {
  background:$orange;
}

.m-account-page .created-by-you li a {
  width: 50%;
  display: inline-block;
}

.m-account-page .ownership-indicator {
  text-transform: uppercase;
  opacity: 0.4;
  float: right;
  margin: 4px 4px 0px 30px;
  font-size: 10px;
  font-weight: 800;
}

.m-account-page input[type="submit"] {
  float: right;
}

.m-account-page .form-group--checkboxes-columns label {
  width: 50%;
}

// Records & collections

.m-account-page.m-account-page--records-collections .wrap {
  position: relative;
  overflow: hidden;
}

.m-account-page.m-account-page--records-collections .wrap:after {
  content: "";
  display: block;
  top: 0;
  left: 50%;
  height: 100%;
  position: absolute;
  width: 2px;
  background: #eee;
  opacity: 0.6;
  @include mqacc(smartphone) {
    display: none;
  }
}

.m-account-page.m-account-page--records-collections .section {
  border-top: 0;
  margin-top: 0;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 0;
  width: 50%;
  float: left;
  vertical-align: top;
  border-top: 0;
  @include mqacc(smartphone) {
    width: auto;
    float: none;
    padding-right: 0;
    padding-left: 0;
  }
}

.m-account-page.m-account-page--records-collections .section.student--records {
  width: 100%;
}

.m-account-page.m-account-page--records-collections .section:first-child {
  padding-left: 0;
  border: 0;
}

.m-account-page.m-account-page--records-collections .section:last-child {
  padding-right: 0;
  @include mqacc(smartphone) {
    margin-top: 20px;
  }
}

.m-account-page.m-account-page--records-collections .section a {
  width: calc(100% - 110px);
  display: inline-block;
}

.m-account-page.m-account-page--records-collections h3 {
  font-size: 14px;
  background: #549a77;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 560;
  margin-top: 0;
  margin-bottom: 15px;
  display: table;
}

.m-account-page .draft-indicator {
  text-transform: uppercase;
  opacity: 0.4;
  float: right;
  margin: 4px 4px 0px 4px;
  font-size: 10px;
  font-weight: 800;
}

// Details

.m-account-page--details .form-group--description {
  width: calc(100% - 250px);
  padding-right: 20px;
  float: left;
  @include mqacc(smartphone) {
    width: auto;
    float: none;
  }
}

.m-account-page--details .form-group--profile-pic {
  width: 250px;
  float: right;
  //height: 100px;
  @include mqacc(smartphone) {
    height: auto;
    float: none;
  }
}

.m-account-page--details .form-group--profile-pic .image {
  width: 250px;
  height: 250px;
  background: #e4e4e4 center/cover;
}

.m-account-page--details .form-group--profile-pic input {
  background: #eee;
}

.m-account-page--details .form-group--current-password i,
.m-account-page--details .form-group--new-password i {
  float: right;
  font-style: normal;
  font-size: 14px;
  @include mqacc(smartphone) {
    display: block;
    float: none;
    margin-bottom: 6px;
  }
}

.m-account-page--details .form-group--single-checkbox {
  width: calc(100% - 250px);
  padding-right: 20px;
  @include mqacc(smartphone) {
    clear: both;
    width: auto;
  }
}

.m-account-page--details .form-group--single-checkbox .helper-text {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.m-account-page--details .form-group--single-checkbox label {
  padding-left: 20px;
  text-transform: none;
  font-size: 16px;
}

.m-account-page--details .form-group--single-checkbox input {
  float: left;
  margin-left: -20px;
  width: auto;
}

.m-account-page--details .form-actions .delete {
  @include gray-button;
}

// Team

.m-account-page--team .section--team-header h1 {
  margin-top: 0;
  float: left;
  margin-bottom: 7px;
}

.m-account-page--team .section--team-header button {
  margin-left: 6px;
  float: right;
}

.m-account-page--team .section--team-header .type {
  clear: both;
  display: block;
}

.m-account-page--team .section--members {
  width: 50%;
  float: left;
  padding-right: 20px;
  border-right: 2px dashed #f2eeee;
  padding-top: 0;
}

.m-account-page--team .section--collections {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-top: 0;
}

.m-account-page--team .section--members h2 {
  clear: both;
}

.m-account-page--team .section--members form {
  overflow:hidden;
}

.m-account-page--team .section--collections li a {
  width: 50%;
  display: inline-block;
}

.m-account-page .section-teacher-token {
  .datepicker-wrapper {
    margin: 10px 0;
  }

  .datepicker-wrapper > * {
    display: inline-block;
  }

  .datepicker-wrapper button {
    margin-left: 10px;
  }
}
// Teams

.m-account-page--teams {
  @include clearfix;
}

.m-account-page--teams .wrap {
  border-top: 0;
  margin-top: 0;
  padding-right: 40px;
  padding-top: 0;
  width: 50%;
  float: left;
  vertical-align: top;
  border-top: 0;
  border: 0;
  @include mqacc(smartphone) {
    width: auto;
    float: none;
    padding-right: 0;
    padding-left: 0;
  }
}

.m-account-page.m-account-page--teams .wrap + .wrap {
  padding-left: 40px;
  padding-right: 0;
  border-left: 2px dashed #f2eeee;
  @include mqacc(smartphone) {
    padding-left: 0;
    border-left: 0;
    border-top: 2px dashed #f2eeee;
    margin-top: 10px;
    padding-top: 20px;
  }
}

.m-account-page--teams select {
  display: block;
  margin-top: 10px;
  max-width: 100%;
}


.m-account-page button.delete {
  background: #fff;
}

.m-account-page button.generate-token[disabled] {
  background: #fff;
}