// Add collection

.m-add-collection {
/*  background: white;
  color: #333;
  padding: 40px;
  max-width: 900px;
  margin-top: 50px;*/
  @include overlay-wrap-white;
}

.m-add-collection h1 {
  margin-top: 0;
}

.m-add-collection .form-group--checkboxes-rows {
  width:50%;
  float:left;
  padding-right:30px;
}