// Add links

.m-add-links .form-group {
  width:45%;
  float:left;
  padding-right:20px;
}

.m-add-links .form-group:last-child {
  width: 10%;
}

.m-add-links .form-group + .form-group {
  padding-right:0;
}
