// Add links

.m-add-links .form-group {
  width:48%;
  float:left;
  padding-right:20px;
}

.m-add-links .form-group:last-child {
  width: 4%;
}

.m-add-links .form-group button.delete {
  background: #fff;
  float: right;
  margin-top: 16px;
  margin-right: -8px;
}

.m-add-links .form-group + .form-group {
  padding-right:0;
}
