// Add record

.m-add-record {
  @include overlay-wrap-white;
  max-width: 900px;
  margin-top: 130px;
}

.m-add-record h1 {
  @include font-display;
  @include polygon-background(yellow, top, true);
  padding: 20px 30px;
  font-size: 36px;
  color: $black;
  margin-left: -20px;
  margin-top: -120px;
  float: left;
}

.m-add-record .location {
  font-size: 12px;
  color: #aaa;
}

.m-add-record .form-group--date {
  width: 300px;
  float: right;
  margin-bottom: 0;
}

.m-add-record .form-group--date input {
  width: calc(33.333333% - 10px);
  margin-right: 10px;
  display: inline-block;
  padding-left: 2px;
}

.m-add-record .form-group--title {
  width: calc(100% - 300px);
  display: inline-block;
  padding-right: 30px;
}

.m-add-record .form-group--description {
  margin-top: 40px;
}

.m-add-record button.delete {
  @include big-square-button;
  background:#eee;
  color:#777;
}

.m-add-record button.delete:hover {
  color:#777;
  background:darken(#eee,10%);
}

.m-add-record button.delete:before {
  content: "\f00d";
}

.m-add-record .form-group--date .helper-text {
  font-size: 14px;
  padding-top: 6px;
  margin-bottom: 10px;
  display: block;
}

.m-add-record .end-date-link {
  font-size: 14px;
}

.m-add-record .ql-editor {
  min-height: 200px;
}


.ql-container.ql-container {
  font-family: inherit;
  font-size: inherit;
}

.ql-editor.ql-editor {
  padding: 20px;
}

.ql-editor.ql-editor:focus {
  border: 2px solid #549a76;
  margin: -1px;
  padding: 19px;
}