// Add media and documents

.m-add-media-and-documents {
  @include clearfix;
}

.m-add-media-and-documents .add-tools {
  clear: both;
  margin-bottom: 20px;
  @include clearfix;
  @include mq(smartphone) {
    margin-bottom: 0;
  }
}

.m-add-media-and-documents .add-tools .form-group {
  background: #e7ca4c;
  padding: 9px 10px;
}

.m-add-media-and-documents .add-tools .add-file {
  width: 20%;
  float: left;
  color: $black;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  @include mq(smartphone) {
    float: none;
    width: auto;
    margin-right: 0;
    overflow: hidden;
  }
}

.m-add-media-and-documents .add-tools .add-file:after {
  content: "or";
  position: absolute;
  top: 35%;
  right: -52px;
  font-weight: 800;
  font-size: 1.5em;
  color: #ceb134;
}

.m-add-media-and-documents .add-tools .add-file a {
  position: relative;
  text-align: center;
  color: #333;
  display: block;
  @include mq(smartphone) {
    text-align: left;
  }
}

.m-add-media-and-documents .add-tools .add-file .image {
  position: relative;
  background: $red;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  color: white;
  @include mq(smartphone) {
    float: left;
    margin-right: 30px;
  }
}

.m-add-media-and-documents .add-tools .add-file .image:before {
  content: "+";
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -46px;
  margin-left: -18px;
}

.m-add-media-and-documents .add-tools .add-file em {
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  @include mq(smartphone) {
    font-size: 16px;
    line-height: 4.3;
  }
}

.m-add-media-and-documents .add-tools .add-url {
  width: 70%;
  float: right;
  @include clearfix;
  @include mq(smartphone) {
    width: auto;
    float: none;
  }
}

.m-add-media-and-documents .add-tools .add-url button {
  background: $red;
  color: white;
  float: right;
  width: 60px;
  height: 60px;
  font-size: 40px;
  @include mq(smartphone) {
    width: 42px;
    height: 42px;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 5px;
  }
}

.m-add-media-and-documents .add-tools .add-url input[type="text"] {
  float: left;
  padding-right: 20px;
  width: calc(100% - 60px);
  @include mq(smartphone) {
    width: calc(100% - 42px);
  }
}

// Thumbs

.m-add-media-and-documents .thumbs {
  margin-bottom: 20px;
}

.m-add-media-and-documents .thumbs .dropzone {
  margin-right: -10px;
}

.m-add-media-and-documents .thumbs ul {
  @include unlist;
}

.m-add-media-and-documents .thumbs li {
  float: left;
  padding: 0 10px 10px 0;
  width: 20%;
}

.m-add-media-and-documents .thumbs li.loading .image span.is-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000005c;
}

.m-add-media-and-documents .thumbs li.is-selected .image,
.m-add-media-and-documents .add-tools .add-url.is-selected {
  box-shadow: 0 0 0px 4px #ee1d46 inset;
}

.m-add-media-and-documents .thumbs .image {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  color: #e8ca4c;
}

.m-add-media-and-documents .thumbs .type-image .image {
  background-color: #e7ca4c;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px #00000029;
}

.m-add-media-and-documents .thumbs .add {
  position: relative;
}

.m-add-media-and-documents .thumbs .add.add-files {
  width: 100%;
  border: 4px dashed #e8ca4c;
  transition: all .2s;
  height: 150px;
}

.m-add-media-and-documents .thumbs .dropzone a.remove-attachment {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
  background: $red;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  color: $white;

  i {
    margin-left: 7px;
    font-size: 20px;
    margin-top: 5px;
  }
}

.m-add-media-and-documents .thumbs .dropzone.is-active .add.add-files {
  border: 4px dashed $red;
}

.m-add-media-and-documents .thumbs .add .image {
  border: 4px dashed #e8ca4c;
  box-sizing: border-box;
  padding-bottom: calc(100% - 8px);
  transition: all .2s;
}

.m-add-media-and-documents .thumbs .dropzone.is-active .add .image {
  border: 4px dashed $red;
}

.m-add-media-and-documents .thumbs .add em {
  position: absolute;
  width: calc(100% - 10px);
  padding: 0 30px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-size: 13px;
  color: $red;
  top: 42%;
  @include mq(smartphone) {
    top: 31%;
  }
}

.m-add-media-and-documents ul {
  margin-bottom: 47px;
  @include clearfix;
}

// Meta

.m-add-media-and-documents .meta {
  padding: 10px;
  padding-bottom:0;
  clear: both;
  background: #e7ca4c;
  overflow: hidden;
}

.m-add-media-and-documents .meta .form-group {
  width: 50%;
  float: left;
  padding-right: 20px;
  @include mq(smartphone) {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}

.m-add-media-and-documents .meta .form-group:nth-child(2) {
  float: right;
  @include mq(smartphone) {
    float: none;
  }
}

.m-add-media-and-documents .meta .form-group:last-child {
  @include mq(smartphone) {
    margin-bottom: 0;
  }
}

.m-add-media-and-documents .meta input,
.m-add-media-and-documents .meta textarea {
  padding: 10px;
}

.m-add-media-and-documents .meta .form-group--single-checkbox label {
  color: $black;
}

.m-add-media-and-documents .meta .form-group--single-checkbox label {
  margin-top: 4px;
}

.m-add-media-and-documents .meta button {
  @include big-square-button;
  padding: 10px 20px;
  text-transform: none;
  font-size: 14px;
  margin-bottom: -3px;
}

.m-add-media-and-documents .meta button.is-primary {
  pointer-events: none;
  cursor: default;
  background: #d0b232;

}

.m-add-media-and-documents .meta button.is-primary:before {
  content: "";
  margin:0;
}