// Add collection

.m-add-collection {
  @include overlay-wrap-white;
  margin-top: 170px;
  position: relative;
  @include mq(tablet) {
    margin-top: 150px;
  }
  @include mq(small-smartphone) {
    margin-top: 132px;
  }
}

.m-add-collection h1 {
  @include overlay-title;
  margin-top: -120px;
  float: left;
  @include mq(small-smartphone) {
    font-size: 26px;
    margin-top: -80px;
  }
}

.m-add-collection form {
  clear: both;
}

.m-add-collection .form-group--checkboxes-rows {
  width: 50%;
  float: left;
  padding-right: 30px;
  @include mq(smartphone) {
    width:auto;
    float:none;
  }
}