// Add record

.m-add-record {
  @include overlay-wrap-white;
  max-width: 900px;
  margin-top: 130px;
  @include mq(tablet) {
    margin-top: 130px;
  }
  @include mq(small-smartphone) {
    margin-top: 132px;
  }
}

.m-add-record h1 {
  @include font-display;
  @include polygon-background(yellow, top, true);
  padding: 20px 30px;
  font-size: 36px;
  color: $black;
  margin-left: -20px;
  margin-top: -120px;
  float: left;
  @include mq(small-smartphone) {
    font-size: 26px;
    margin-top: -80px;
  }
}

.m-add-record .location {
  font-size: 12px;
  color: #aaa;
}

.m-add-record .form-group--date {
  width: 300px;
  float: right;
  margin-bottom: -14px;
  @include mq(smartphone) {
    width: auto;
    max-width: 400px;
    float: none;
    margin-bottom: 20px;
    clear: both;
  }
}

.m-add-record .form-group--date input {
  width: calc(33.333333% - 10px);
  margin-right: 10px;
  display: inline-block;
  padding-left: 2px;
}

.m-add-record .form-group--title {
  width: calc(100% - 300px);
  display: inline-block;
  padding-right: 30px;
  @include mq(smartphone) {
    width: 100%;
    padding-right: 0;
  }
}

.m-add-record .form-group--description {
  clear: both;
}

.m-add-record .form-group--location {
  width: 280px;
  float: left;

  @include mq(smartphone) {
    float: none;
    width: 100%;
  }

}

.m-add-record .form-group--location > .m-mini-map {
  cursor: pointer;
  height: 150px;
  padding-bottom: 0;
  transition: all .2s;
}

.m-add-record .form-group--location > .m-mini-map:hover {
  background-color: #000;
  opacity: 0.8;
  position: relative;
}

.m-add-record .form-group--location > .m-mini-map:after {
  content: "Edit";
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: $black;
  font-size: 14px;
  display: inline-block;
  padding: 3px 6px 2px;
  opacity: 0;
  transition: all .2s;
}

.m-add-record .form-group--location > .m-mini-map:hover:after {
  opacity: 1;
}

.m-add-record .form-group--credits {
  width: calc(100% - 300px);
  float: right;

  @include mq(smartphone) {
    float: none;
    width: 100%;
  }
}

.m-add-record .form-group--credits .helper-text {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.m-add-record .form-group--credits .quill {
  border: 1px solid #ccc;

  .ql-tooltip.ql-editing {
    min-width: 200px;
  }

  .ql-container.ql-bubble:not(.ql-disabled) a::before,
  .ql-container.ql-bubble:not(.ql-disabled) a::after {
    display: none
  }
}

.m-add-record .form-group--credits .ql-editor {
  min-height: 120px;
}

.m-add-record .form-group--credits .ql-editor:focus {
  min-height: 122px;
}


.m-add-record button.delete,
.m-add-record button.cancel,
.m-add-record button.unpublish {
  @include gray-button;
}

.m-add-record .form-group--date .helper-text {
  font-size: 14px;
  padding-top: 6px;
  margin-bottom: 10px;
  display: block;
}

.m-add-record .end-date-link {
  font-size: 14px;
}

.m-add-record .form-group--description .ql-editor {
  min-height: 200px;
}

.m-add-record .form-group--description .ql-editor:focus {
  min-height: 202px;
}


.ql-container.ql-container {
  font-family: inherit;
  font-size: inherit;
}

.ql-editor.ql-editor {
  padding: 20px;
  @include mq(smartphone) {
    padding: 10px !important;
  }
}

.ql-editor.ql-editor:focus {
  border: 2px solid #549a76;
  margin: -1px;
  padding: 19px;
  @include mq(smartphone) {
    padding: 9px !important;
  }
}


.m-add-record label.errors-on-publish {
  position: relative;
}

.m-add-record label.errors-on-publish:after {
  position: relative;
  content: "\f12a";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  z-index: 1;
  background: $red;
  line-height: 1.2;
  margin: -3px -6px -5px 5px;
  color: white;
  padding: 3px 9px 0;
  display: block;
  height: 24px;
  float: right;
}

.m-add-record .form-validation-errors {
  @include top-and-tail;
  margin: 40px -50px -40px -50px;
  padding: 40px;
  background: #feeff1;
  color: $red;
  @include mq(small-smartphone) {
    margin: 15px -15px -40px -15px;
    padding: 15px;
  }
}