/* Add to collection */

.m-add-to-collection {

}

.m-add-to-collection .form {
  width: 384px;
  padding: 10px;
  clear: both;
  background: #e7ca4c;
}

.m-add-to-collection .form-group--toggle-switch {
  text-align: center;
  margin: 10px 0 22px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.m-add-to-collection .form-group--toggle-switch label {
  padding:0;
  background:transparent;
  font-size:18px;
  color:#333;
  margin-bottom:0;
}

.m-add-to-collection .form-group--toggle-switch .toggle {
  background: #a4870c;
}