// Comments

.m-comments {
  background: $yellow;
  color: #333;
  float: right;
  position: relative;
  width: calc(100% - 300px);

  @include top-and-tail;

  &.is-loading {
    @include loading-spinner;
  }
}

.m-comments a {
  color:$red;
}

.m-comments .note {
  padding: 40px 44px;
}

.m-comments .comment {
  //padding: 10px 0 0 5px;
  padding: 40px 44px 0 44px;

  border-bottom: 1px solid #ccc;
  overflow:hidden;
}

.m-comments .comment .comment-header {
  font-size: 0.9em;
  float:left;

  .comment-user {
    font-weight: bold;
  }

  .comment-date {
    opacity:0.7;
  }
}

.m-comments .comment .comment-footer {
  font-size: 0.8em;
  float:right;

  .actions {
    list-style-type: none;
    padding: 0;
  }

  .actions li > a:hover {
    color: $orange;
  }

  .actions li {
    display: inline;
    margin-right: 10px;

    a.delete {
      color: $red;
    }
    a.cancel {
      color: $green;
    }
  }
}

.m-comments .comment.comment--deleted {
  display: none;
}