// Date range overlay

.m-date-range-overlay {
  @include overlay-wrap-transparent;
}

.m-date-range-overlay .header {
  @include top-and-tail;
  padding-bottom: 50px;
}

.m-date-range-overlay .header button {
  @include lozenge-button;
}

.m-date-range-overlay > button {
  @include big-square-button;
}

.m-date-range-overlay .date-box {
  padding: 20px;
  width: calc(50% - 50px);
  border-radius:$default-border-radius;
  border:2px solid $bright-accent;
  float: left;
  position: relative;
}

.m-date-range-overlay .date-box + .date-box {
  margin-left: 100px;
}

.m-date-range-overlay .date-box + .date-box:before {
  content: "";
  display: block;
  border-left: 20px solid darken($darker-base, 5%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 38px;
  left: 0;
  margin-left: -61px;
}

.m-date-range-overlay .picker-icon {
  color: white;
  background: $link-color;
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 13px 10px;
  font-size: 30px;
  border-radius: 100px;
  position: relative;
  top: 5px;
  left: 8px;
}

.m-date-range-overlay .date-box h2 {
  margin-top: -6px;
  margin-bottom: 10px;
}

.m-date-range-overlay .date-box input {
  width: 100%;
  display: inline-block;
}

.m-date-range-overlay .era-picker {
  clear: both;
  padding-top: 70px;
  overflow: hidden;
}

.m-date-range-overlay .era-picker p {
  width: 50%;
  float: left;
  margin-top: 0;
}

.m-date-range-overlay .eras {
  float: left;
  width: 50%;
  @include unlist;
  font-size: 16px;
  //border-left: 2px solid #444;
}

.m-date-range-overlay .eras li {
  margin-bottom: 6px;
  margin-left: 40px;
}

.m-date-range-overlay .eras li a {
  background: $link-color;
  color: white;
  padding: 2px 4px;
}