/* Error logo */

.m-error-logo {
  position: absolute;
  bottom: 10px;
  left: 30px;
  width: 130px;
  height: 40px;
  opacity:0;
  transition:opacity .2s;
  @include mq(tablet) {
    opacity:1;
    position:static;
    margin: 20px auto 0;
    width: 180px;
  }
}

.m-sidebar:hover .m-error-logo {
  opacity: 1;
}