// Layers picker

.m-layers-picker {
  @include overlay-wrap-transparent;
  max-width: 1080px;
}

.m-layers-picker h1 {
  @include overlay-title;
  margin-right: 40px;
  margin-bottom: 0;
}

.m-layers-picker .subtitle {
  display: inline-block;
  font-size: 22px;
}

.m-layers-picker .search {
  float: right;
  margin-top: 50px;
}

.m-layers-picker .search input {
  padding: 14px 14px 14px 44px;
  border: 2px solid grey;
  transition: border .2s;
  color: white;
  width: 220px;
  background: transparent url('../assets/images/icon-search.svg') 14px 15px/20px no-repeat;
}

.m-layers-picker .search input:focus {
  border: 2px solid white;
}

.m-layers-picker .search {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }
}

.m-layers-picker .layers {
  clear: both;
  margin-right: -38px;
  padding: 23px 0px 0px 0;
  @media screen and (max-width: 650px) {
    margin-right: 0;
  }
}

.m-layers-picker .section-title {
  text-align: center;
  margin-top: -64px;
  margin-bottom: 14px;
}

.m-layers-picker .section-title h2 {
  font-size: 18px;
  margin-bottom: 10px;
  background: #549a77;
  display: inline-block;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 500;
  padding: 10px 15px;
}

.m-layers-picker .layers h2 {
  margin-top: 0;
}

.m-layers-picker .layers--specific {
  background: #3c3c3c;
  margin-top: -10px;
}

.m-layers-picker .layers--specific > h2 {
  margin-top: 0;
}

.m-layers-picker .layers--specific > h2 span {
  font-size: 14px;
  margin-bottom: 10px;
  background: #549a77;
  display: inline-block;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 560;
}

.m-layers-picker .layer {
  display: inline-block;
  margin-right: -4px;
  width: 33.333333%;
  margin-bottom: 30px;
  padding-right: 30px;
  vertical-align: top;
  @include mq(small-tablet) {
    width: 50%;
  }
  @media screen and (max-width: 650px) {
    width: 100%;
    padding-right: 0;
  }
}

.m-layers-picker .layer .image {
  width: auto;
  padding-bottom: 55%;
  background: #383838 url('../assets/images/layer-blank-crosses.png') 0 0/15px 15px;
  margin: -20px -20px 0 -20px;
  transition: all .2s;
  @include mq(smartphone) {
    padding-bottom: 40%;
    margin: -15px -15px 0 -15px;
  }
}

/*.m-layers-picker .layer:nth-child(1) .image {
  background-image: url('../assets/images/map-1.jpg');
}

.m-layers-picker .layer:nth-child(2) .image {
  background-image: url('../assets/images/map-2.jpg');
}

.m-layers-picker .layer:nth-child(3) .image {
  background-image: url('../assets/images/map-3.jpg');
}

.m-layers-picker .layer:nth-child(4) .image {
  background-image: url('../assets/images/map-4.jpg');
}

.m-layers-picker .layer:nth-child(5) .image {
  background-image: url('../assets/images/map-5.jpg');
}

.m-layers-picker .layer:nth-child(6) .image {
  background-image: url('../assets/images/map-6.jpg');
}*/

.m-layers-picker .layer a:hover .image {
  opacity: 0.9;
}

.m-layers-picker .layer h2 {
  margin-bottom: 0;
  @include font-display;
  margin-top: 16px;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 600;
  color: $red;
  transition:all .2s;
}

/*.m-layers-picker .secondary-layers .layer a:hover h2 {
  color:$yellow;
}*/

.m-layers-picker .wrap > button {
  @include big-square-button;
}

.m-layers-picker .layer > a {
  color: $black;
  display: block;
  padding: 20px 20px 20px 20px;
  background: white;
  transition:all .2s;
  @include mq(smartphone) {
    padding: 15px 15px 15px 15px;
  }
}

.m-layers-picker .layer > a:hover {
  //color: white;
  background:lighten($yellow, 20%);
}

.m-layers-picker .layer button {
  outline: 0;
  background: #d0ebdd;
  font-weight: 700;
  margin: 0;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  @include link-arrow;
}

.m-layers-picker .layer button:before {
  position: relative;
  top: -1px;
}

.m-layers-picker .layer > a:hover button {
  padding-left: 25px;
}

.m-layers-picker .layer.is-selected button {
  background: #d5c549;
  color: #6a6014;
}

.m-layers-picker .layer button span {
  display: none;
}

//.m-layers-picker .layer button:before {
//  content: "Use this layer";
//}
//
//.m-layers-picker .layer.is-selected button:before {
//  content: "Deselect this layer";
//}

.m-layers-picker .layer .description {
  font-size: 13px;
  margin-top: 10px;
}

.m-layers-picker .layer > a {
  transition: all .2s;
  box-shadow: 0 0 0 0 rgba(84, 154, 119, 0.52157);
  position: relative;
}

.m-layers-picker .layers--specific .layer.is-selected > a {
  box-shadow: 0 0 0 10px rgba(84, 154, 119, 0.52157);
}

.m-layers-picker .layer.is-selected > a {
  box-shadow: 0 0 0 10px rgba(84, 154, 119, 0.52157);
  background: #efdf5b;
}

.m-layers-picker .layer a:after {
  content: "\f067";
  color: white;
  background: #3e3e3e;
  font: normal normal normal 24px/1 FontAwesome;
  text-align: center;
  position: absolute;
  right: 12px;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 100px;
  //transform: scale(0.7);
  transition: all .2s;
}

.m-layers-picker .layer a:hover:after {
  color: $yellow;
  transform: scale(1.1);
}

.m-layers-picker .layer.is-selected a:after {
  content: "\f00c";
  opacity: 1;
  transform: scale(1);
  background: $green;
}

.m-layers-picker .layer.is-selected a:hover:after {
  transform: scale(1);
}

.m-layers-picker button.submit-button {
  min-width: 170px;
  float: right;
  margin-bottom: 80px;
  margin-top: 30px;
  @include big-square-button;
}

.m-layers-picker .layer .description p {
  margin: 0;
  display: inline;
}

.m-layers-picker .layer .description p:after {
  content: " ";
}

.m-layers-picker .layer .description .credit * {
  display: inline;
  color: $green;
  margin: 0;
}

.m-layers-picker .confirm {
  @include font-display;
  @include polygon-background(yellow, top, false);
  padding: 20px 25px;
  color: $black;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: calc((100% - 1080px) / 2);
  margin-right: -40px;
  @media screen and (max-width: 1190px) {
    right: 10px;
    margin-right: 0;
  }
  @include mq(smartphone) {
    right: 0;
  }
  @include mq(small-smartphone) {
    padding: 14px 19px;
  }
}

.m-layers-picker .confirm button,
.m-layers-picker .confirm .btn {
  @include big-square-button;
  font-family: 'Muli', sans-serif;

  @include mq(small-smartphone) {
    padding: 10px 18px;
  }
}

// Secondary layers


.m-layers-picker .secondary-layers .section-title {
  margin-bottom: 14px;
  margin-top: 30px;
}

.m-layers-picker .secondary-layers .layer {
  display: block;
  width: auto;
  @include clearfix;
  padding-right: 0;
}

.m-layers-picker .secondary-layers .layer a {
  overflow: hidden;
  padding:0;
  background: #2f2f2f;
}

.m-layers-picker .secondary-layers .layer a:hover {
  background: #272727;
}

.m-layers-picker .secondary-layers .layer h2 {
  float: left;
  width: 33.333333%;
  margin-top:0;
  padding:20px;
}

.m-layers-picker .secondary-layers .layer .description {
  float:left;
  width:33.333333%;
  @include top-and-tail;
  margin-top:0;
  padding:20px;
  color:white;
}

.m-layers-picker .secondary-layers .layer .image {
  width: calc(33.333333% - 12px);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding-bottom:0;
}