// Layer tools

.m-layer-tools {
  overflow: hidden;
}

.m-layer-tools {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 50;
  width: 50%;
  max-width: 320px;
}

.m-layer-tools.is-closed .panel .open {
  display: block;
}

.m-layer-tools .panel .open {
  //display: none;
  outline:none;
}

.m-layer-tools .panel {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: all .2s;
}

.m-layer-tools.is-closed .panel {
  //display: none;
  transform: translate3d(0, calc(100% - 25px), 0);
}

.m-layer-tools .panel .layers {
  background: $black;
  color: white;
  padding: 10px;
  overflow:hidden;
}

.m-layer-tools .panel h1 {
  margin: 0 0 10px 0;
  float: left;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 0;
  display: none;
}

/*.m-layer-tools .panel .close {
  float: right;
  background: none;
  padding: 0;
}

.m-layer-tools .panel .close span {
  display: none;
}

.m-layer-tools .panel .close:after {
  content: "\f00d";
  font: normal normal normal 12px/1 FontAwesome;
  color: $link-color;
}*/

.m-layer-tools .panel a {
  float: right;
}

.m-layer-tools .layer {
  clear: both;
  margin: 5px 0;
}

.m-layer-tools .layer .dragger:after {
  content: "\f0c9";
  font: normal normal normal 12px/1 FontAwesome;
  opacity: 0.5;
  margin-right: 5px;
}

.m-layer-tools .dragger {
  display: inline-block;
}

.m-layer-tools .name {
  display: inline-block;
  min-width: 200px;
  min-width: 120px;
}

.m-layer-tools .slider {
  width: 100px;
  display: inline-block;
  position: relative;
  top: -5px;
}

.m-layer-tools .slider:before {
  content: "";
  width: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid #333;
}

.m-layer-tools .slider .handle {
  background: #333;
  border-radius: 100px;
  position: absolute;
  top: -4px;
  left: 45%;
  width: 12px;
  height: 12px;
}