// Layers picker

.m-layers-picker {
  @include overlay-wrap-transparent;
  max-width: 1080px;
}

.m-layers-picker h1 {
  @include overlay-title;
  margin-right: 40px;
  margin-bottom: 0;
  @include mq(smartphone) {
    margin-right: 0;
  }
}

.m-layers-picker .status {
  display: inline-block;
  @include mq(tablet) {
    margin-bottom: -19px;
  }
  @include mq(smartphone) {
    margin-left: 20px;
  }
  @include mq(small-smartphone) {
    font-size:12px;
  }
}

.m-layers-picker .status:before {
  content: "";
  display: block;
  clear: both;
}

.m-layers-picker .status span {
  @include mq(tablet) {
    float: left;
  }
}

.m-layers-picker .status a {
  @include mq(tablet) {
    float: left;
    clear: left;
    margin-top: 5px;
  }
}

.m-layers-picker .status i {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 24px;
  padding: 0;
  font-weight: bold;
  color: white;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -2px;
  margin-right: 4px;
  line-height: 21px;
  font-size: 13px;
  margin-left: 10px;
  @include mq(tablet) {
    margin-left: 0;
  }
  /*  @include mq(smartphone) {
      border: 1px solid rgb(169, 208, 188);
      color: $green;
    }*/
}

.m-layers-picker .subtitle {
  display: inline-block;
  font-size: 22px;
}

.m-layers-picker .search {
  float: right;
  margin-top: 50px;
  @include mq(smartphone) {
    margin-left: 20px;
  }
  @include mq(small-smartphone) {
    margin-top: 30px;

  }
}

.m-layers-picker .search input {
  padding: 14px 14px 14px 44px;
  border: 1px solid grey;
  transition: border .2s;
  color: white;
  width: 220px;
  background: transparent url('../assets/images/icon-search.svg') 14px 15px/20px no-repeat;
  @include mq(small-smartphone) {
    //width: 114px;
  }
}

.m-layers-picker .search input + button {
  border: 1px solid grey;
  border-left: 0px;
  color: $yellow;
  background: transparent;
  padding: 13px;
  &:disabled {
    color: #bdc8c4;
  }
}

.m-layers-picker .search span.clear-search {
  position: absolute;
  margin: 14px -4.4em;

  &:hover {
    cursor: pointer;
  }
}

.m-layers-picker .search input:focus {
  border: 2px solid white;
}

.m-layers-picker .search {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }
}

// Featured layers

.m-layers-picker .layers {
  clear: both;
  margin-right: -38px;
  padding: 23px 0px 0px 0;
  @media screen and (max-width: 650px) {
    margin-right: 0;
  }
}

.m-layers-picker .layers--featured {
  padding: 40px 60px 0;
  @include mq(tablet) {
    padding: 40px 0 0;
  }
}

.m-layers-picker .section-title {
  text-align: center;
  margin-bottom: 14px;
}

.m-layers-picker .section-title h2 {
  font-size: 18px;
  margin-bottom: 10px;
  background: #549a77;
  display: inline-block;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 500;
  padding: 10px 15px;
}

.m-layers-picker .layers h2 {
  margin-top: 0;
}

/*.m-layers-picker .layers--specific {
  background: #3c3c3c;
  margin-top: -10px;
}

.m-layers-picker .layers--specific > h2 {
  margin-top: 0;
}

.m-layers-picker .layers--specific > h2 span {
  font-size: 14px;
  margin-bottom: 10px;
  background: #549a77;
  display: inline-block;
  padding: 3px 6px 2px;
  color: white;
  font-weight: 560;
}*/

.m-layers-picker .layer {
  display: inline-block;
  margin-right: -4px;
  width: 33.333333%;
  margin-bottom: 30px;
  padding-right: 30px;
  vertical-align: top;
  @include mq(smartphone) {
    margin-bottom: 15px;
  }
  @include mq(small-tablet) {
    width: 50%;
  }
  @media screen and (max-width: 650px) {
    width: 100%;
    padding-right: 0;
  }
}

.m-layers-picker .layers--featured .layer {
  width: 50%;
  @media screen and (max-width: 650px) {
    width: 100%;
    padding-right: 0;
  }
}

.m-layers-picker .layer .image {
  width: auto;
  padding-bottom: 55%;
  background: #383838 url('../assets/images/layer-blank-crosses.png') 0 0/15px 15px;
  margin: -20px -20px 0 -20px;
  transition: all .2s;
  @include mq(smartphone) {
    padding-bottom: 40%;
    margin: -15px -15px 0 -15px;
  }
  @media screen and (max-width: 650px) {
    padding-bottom: 150px;
  }
  @include mq(small-smartphone) {
    padding-bottom: 100px;
  }
}

.m-layers-picker .layer a:hover .image {
  opacity: 0.9;
}

.m-layers-picker .layer h2 {
  margin-bottom: 0;
  @include font-display;
  margin-top: 16px;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 600;
  color: $red;
  transition: all .2s;
}

.m-layers-picker .wrap > button {
  @include big-square-button;
}

.m-layers-picker .layer > a {
  color: $black;
  display: block;
  padding: 20px 20px 20px 20px;
  background: white;
  transition: all .2s;
  @include mq(smartphone) {
    padding: 15px 15px 15px 15px;
  }
  @media screen and (max-width: 650px) {
    height: auto !important;
  }
}

.m-layers-picker .layer > a:hover {
  background: lighten($yellow, 20%);
}

.m-layers-picker .layer button {
  outline: 0;
  background: #d0ebdd;
  font-weight: 700;
  margin: 0;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  @include link-arrow;
}

.m-layers-picker .layer button:before {
  position: relative;
  top: -1px;
}

.m-layers-picker .layer > a:hover button {
  padding-left: 25px;
}

.m-layers-picker .layer.is-selected button {
  background: #d5c549;
  color: #6a6014;
}

.m-layers-picker .layer button span {
  display: none;
}

.m-layers-picker .layer .description {
  font-size: 13px;
  margin-top: 10px;
}

.m-layers-picker .layer > a {
  transition: all .2s;
  box-shadow: 0 0 0 0 rgba(84, 154, 119, 0.52157);
  position: relative;
}

.m-layers-picker .layer.is-selected > a {
  box-shadow: 0 0 0 10px rgba(84, 154, 119, 0.52157);
  background: #efdf5b;
}

.m-layers-picker .layer a:after {
  content: "\f067";
  color: white;
  background: #3e3e3e;
  font: normal normal normal 24px/1 FontAwesome;
  text-align: center;
  position: absolute;
  right: 12px;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 100px;
  transition: all .2s;
}

.m-layers-picker .layer a:hover:after {
  color: $yellow;
  transform: scale(1.1);
}

.m-layers-picker .layer.is-selected a:after {
  content: "\f00c";
  opacity: 1;
  transform: scale(1);
  background: $green;
}

.m-layers-picker .layer.is-selected a:hover:after {
  transform: scale(1);
}

.m-layers-picker button.submit-button {
  min-width: 170px;
  float: right;
  margin-bottom: 80px;
  margin-top: 30px;
  @include big-square-button;
}

.m-layers-picker .layer .description p {
  margin: 0;
  display: inline;
}

.m-layers-picker .layer .description p:after {
  content: " ";
}

.m-layers-picker .layer .description .credit * {
  display: inline;
  color: $green;
  margin: 0;
}

.m-layers-picker .confirm {
  @include font-display;
  @include polygon-background(yellow, top, false);
  padding: 20px 25px;
  color: $black;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: calc((100% - 1080px) / 2);
  margin-right: -40px;
  @media screen and (max-width: 1190px) {
    right: 10px;
    margin-right: 0;
  }
  @include mq(smartphone) {
    right: 0;
  }
  @include mq(small-smartphone) {
    padding: 14px 19px;
  }
}

.m-layers-picker .confirm button,
.m-layers-picker .confirm .btn {
  @include big-square-button;
  font-family: 'Muli', sans-serif;

  @include mq(small-smartphone) {
    padding: 10px 18px;
  }
}

// Secondary layers
/*

.m-layers-picker .secondary-layers .section-title {
  margin-bottom: 14px;
  margin-top: 30px;
}

.m-layers-picker .secondary-layers .layer {
  display: block;
  width: auto;
  @include clearfix;
  padding-right: 0;
}

.m-layers-picker .secondary-layers .layer a {
  overflow: hidden;
  padding:0;
  background: #2f2f2f;
}

.m-layers-picker .secondary-layers .layer a:hover {
  background: #272727;
}

.m-layers-picker .secondary-layers .layer h2 {
  float: left;
  width: 33.333333%;
  margin-top:0;
  padding:20px;
  @include mq(smartphone) {
    float:none;
    width:66.666666%;
    padding-bottom:0;
  }
  @media screen and (max-width: 650px) {
    width:auto;
  }
}

.m-layers-picker .secondary-layers .layer .description {
  float:left;
  width:33.333333%;
  @include top-and-tail;
  margin-top:0;
  padding:20px;
  color:white;
  @include mq(smartphone) {
    float:none;
    width:66.666666%;
    padding-top:4px;
  }
  @media screen and (max-width: 650px) {
    width:auto;
  }
}

.m-layers-picker .secondary-layers .layer .image {
  width: calc(33.333333% - 12px);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding-bottom:0;
  @media screen and (max-width: 650px) {
    position:static;
    width: auto;
    margin: -15px -15px 0 -15px;
    padding-bottom: 150px;
  }
  @include mq(small-smartphone) {
    padding-bottom:100px;
  }
}
*/

.m-layers-picker .no-results {
  font-size: 24px;
  text-align: center;
  padding: 120px 20px 20px;
  @include mq(smartphone) {
    font-size: 18px;
    padding: 60px 20px 20px;
  }
}

.m-layers-picker {
}

.m-layers-picker .section-navigation {
  text-align: center;
  margin-bottom: 60px;
}

.m-layers-picker .section-navigation.is-loading {
  @include loading-spinner;

  &:after {
    position: relative;
    display: block;
  }
}

.m-layers-picker .section-navigation h3 {
  display: inline-block;
  @include mq(smartphone) {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.m-layers-picker .section-navigation > ul {
  @include unlist;
  display: inline;
}

.m-layers-picker .section-navigation > ul > li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  @include mq(tablet) {
    margin-left: 10px;
  }
  @include mq(smartphone) {
    margin-bottom: 10px;
  }
}

.m-layers-picker .section-navigation > ul > li > a {
  color: #ffffff;
  padding: 17px 25px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -1px;
  display: inline-block;
  transition: all .2s;
  border: 1px solid #ffeb574f;
  @include mq(tablet) {
    font-size: 14px;
  }

  &:hover {
    color: white;
    border: 1px solid #ffffff4f;
  }

  &:focus {
    outline: 0;
  }
}

.m-layers-picker .section-navigation > ul > li.is-current > a {
  background: rgba(255, 235, 87, 0.3098);
}

.m-layers-picker .section-navigation ul ul {
  @include unlist;
  text-align: left;
  //@include spike('top', $red, 30px, 20px);
  @include grid(2, 10px, 10px);
  padding: 20px 16px;
  width: 400px;
  background: $red;
  position: absolute;
  left: 50%;
  transform: translate3d(-200px, 0, 0);
  top: 100%;
  margin-top: 15px;
  z-index: 3;

  @include mq(smartphone) {
    @include grid(1, 10px, 5px);
    width: 160px;
    transform: translate3d(-80px, 0, 0);
    padding: 15px 10px;
    margin-top: 10px;
  }
}

.m-layers-picker .section-navigation ul ul:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -15px;
  color: red;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 20px solid $red;
}

.m-layers-picker .section-navigation ul ul li {
  line-height: 1.3;
}

.m-layers-picker .section-navigation ul ul li.is-current a {
  color: darken($red, 36%);
}

.m-layers-picker .section-navigation ul ul li.is-current a:after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: 5px;
}

.m-layers-picker .section-navigation ul ul a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 4px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transition: all .2s;
}

.m-layers-picker .section-navigation ul ul a:hover {
  background: black;
}

.m-layers-picker .section-navigation ul ul li.is-current a:hover {
  background: transparent;
}

.m-layers-picker .section-load-more {
  text-align: center;
}

.m-layers-picker .section-load-more button {
  @include big-square-button;
}

.m-layers-picker .section-load-more button:hover {
  //background: #549a7624;
}