// Logo

.m-logo {
  width: 33px;
  margin-top: 17px;
  margin-bottom: 15px;
  margin-left: 4px;
  @include mq(tablet) {
    width: 27px;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 1px;
  }
  @include mq(smartphone) {
    margin-left: -4px;
  }
}

.m-logo img {
  max-width:100%;
}