
// Map wrapper

.m-map-wrapper {
  width:100%;
  height:100%;
  position: relative; // While beta message is up
  height:calc(100vh - 40px); // While beta message is up
  @include mq(tablet) {
    height:calc(100vh - 40px);// While beta message is up
  }
  @include mq(smartphone) {
    height:calc(100vh - 110px); // While beta message is up
    height:calc(100vh - 50px); // While beta message is up
  }
}

.m-map-wrapper:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:3px;
  background:$main-accent;
}