// Map

.m-map {
  height:100%;
}

.m-map.is-adding .leaflet-grab {
  cursor:crosshair;
}

.leaflet-dragging .m-map.is-adding .leaflet-grab,
.leaflet-dragging .m-map.is-adding .leaflet-grab .leaflet-interactive,
.leaflet-dragging .m-map.is-adding .leaflet-marker-draggable {
  cursor:grabbing;
}


.m-map #map {
  width:100%;
  height:100%;
  display:block;
}

.m-map .leaflet-search-wrap {
  @include mq(smartphone) {
    display:none;
  }
}

.m-map .leaflet-bottom.leaflet-right {
  @include mq(smartphone) {
    position:static;
  }
}

.m-map .leaflet-bottom.leaflet-right .leaflet-control-zoom {
  @include mq(tablet) {
    margin-bottom:70px;
  }
  @include mq(smartphone) {
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
  }
}

.m-map .leaflet-bottom.leaflet-right .leaflet-control-attribution {
  @include mq(smartphone) {
    position:absolute;
    bottom:0;
    right:0;
  }
}

// Move highlighted markers to the front

.leaflet-container .leaflet-marker-pane img[src*="highlighted"] {
  z-index:10000 !important;
}