
// Map popover

.m-map-popover {
  background:orange;
  position:absolute;
  left:100px;
  top:200px;
  width:200px;
  z-index:100;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  display:none;
}

.m-map-popover:after {
  content:"";
  position:absolute;
  display:block;
  bottom: -40px;
  left: 50%;
  margin-left: -20px;
  border-top: 40px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.showing-place-picker .m-map-popover {
  display:none !important;
}