// Map

.m-map {
  height:100%;
}

.m-map #map {
  width:100%;
  height:100%;
  display:block;
}

.m-map .leaflet-search-wrap {
  @include mq(smartphone) {
    display:none;
  }
}

.m-map .leaflet-bottom.leaflet-right {
  @include mq(smartphone) {
    position:static;
  }
}

.m-map .leaflet-bottom.leaflet-right .leaflet-control-zoom {
  @include mq(tablet) {
    margin-bottom:70px;
  }
  @include mq(smartphone) {
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
  }
}

.m-map .leaflet-bottom.leaflet-right .leaflet-control-attribution {
  @include mq(smartphone) {
    position:absolute;
    bottom:0;
    right:0;
  }
}