
// Map popover

.m-map-popover {
  background:orange;
  position:absolute;
  left:100px;
  top:200px;
  width:200px;
  z-index:100;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  display:none;
}

.m-map-popover:after {
  content:"";
  position:absolute;
  display:block;
  bottom: -40px;
  left: 50%;
  margin-left: -20px;
  border-top: 40px solid $black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.showing-place-picker .m-map-popover {
  display:none !important;
}

.m-map-popover .m-record-card {
  height: 150px;
  overflow: hidden;
  outline:7px solid $black;
}

.m-map-popover .m-record-card p {
  display:none;
}

.m-map-popover .m-record-card.placeholder-0 {
  background: $navy url('../assets/images/placeholder/wide-01.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-1 {
  background: $red url('../assets/images/placeholder/wide-02.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-2 {
  background: $lilac url('../assets/images/placeholder/wide-03.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-3 {
  background: $green url('../assets/images/placeholder/wide-04.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-4 {
  background: $black url('../assets/images/placeholder/wide-05.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-5 {
  background: $navy url('../assets/images/placeholder/wide-06.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-6 {
  background: $yellow url('../assets/images/placeholder/wide-07.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-7 {
  background: $orange url('../assets/images/placeholder/wide-08.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-8 {
  background: $red url('../assets/images/placeholder/wide-09.svg') center/cover;
}

.m-map-popover .m-record-card.placeholder-9 {
  background: $navy url('../assets/images/placeholder/wide-10.svg') center/cover;
}
