// Map area

.m-map-area {
  width: calc(45% - 40px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition:all .2s;
  background:$black;
  @media screen and (min-width:1681px) {
    width: calc(100% - 964px);
  }
  @include mq(tablet) {
    width:100%;
    top:60px;
    height:calc(100vh - 60px);
    height:calc(100vh - 100px); // While beta message is up
  }
}

.tray-is-closed .m-map-area {
  width: calc(100% - 80px);
  @include mq(tablet) {
    width:100%;
  }
}