/* Media viewer */

.m-media-viewer {
  height: 100%;
}

.m-media-viewer .wrap {
  @include overlay-wrap;
  max-width: 1100px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  color: white;
  position: relative;
  height: 100%;
  @include mq(tablet) {
    margin:0 auto;
  }
  @include mq(small-smartphone) {
    //padding-top: 0;
  }
}

.m-media-viewer--expanded .wrap {
  padding-bottom: 50px;
}

.m-media-viewer .wrap > div:first-child {
  height: calc(100% - 170px);
  @include mq(small-smartphone) {
    height: calc(100% - 80px);
  }
}

.m-media-viewer--expanded .wrap > div:first-child {
  height: 100%;
}

.m-media-viewer .main-media-item {
  height: 100%;
  position: relative;
  display: block;
}

.m-media-viewer .main-media-item.media-item-exit {
  display: none;
}

.m-media-viewer .main-media-item > div {
  height: 100%;
}

.m-media-viewer .main-media-item.audio {
  display: block;
  height: 200px;
}

.m-media-viewer .main-media-item.audio .item {
  display: block;
  width: 100%;
  height: 150px;
}

.m-media-viewer .main-media-item.audio .item .mejs__broadcast {
  display: none;
}

.m-media-viewer .main-media-item.video {
  display: block;
  height: 500px;
}

.m-media-viewer .main-media-item.video .item {
  display: block;
  width: 100%;
  height: 80%;
  margin-bottom: 5%;
}

.m-media-viewer .main-media-item.video .item iframe {
  height: 100%;
}

.m-media-viewer--expanded .main-media-item {
  height: 100%;
}

.m-media-viewer .main-media-item .item {
  //height:100%;
  //display: table-cell;
  //vertical-align: middle;
  height: 100%;
}

.m-media-viewer .main-media-item img,
.m-media-viewer .main-media-item iframe {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.m-media-viewer .main-media-item .meta {
  position: static;
  margin: 0;
  background: transparent;
}

.m-media-viewer .main-media-item .attribution {
  position: absolute;
  bottom: 2px;
  right: 20px;
  max-width: 200px;
  width: auto;
  color: #9c9c9c;
  text-align: right;
  background-color: #000;
  display:inline-block;
  padding: 3px 6px;
  font-size: 12px;
  @include mq(smartphone) {
    right:0;
    bottom: 4px;
  }
}

.m-media-viewer .main-media-item .attribution > * {
  margin: 0;
  display:inline-block;
}

.m-media-viewer .main-media-item .caption {
  position: absolute;
  bottom: 33px;
  left: 20px;
  width:65%;
  padding-right:20px;
  max-width: 600px;
  height:95px;
  @include mq(smartphone) {
    left:0;
    width:100%;
    padding-right:0;
  }
}

.m-media-viewer .main-media-item .caption.is-expanded {
  height:auto;
}

.m-media-viewer .main-media-item .caption .pane {
  height:95px;
  overflow:hidden;
  @include top-and-tail
}

.m-media-viewer .main-media-item .caption.is-expanded .pane {
  height:auto;
}

.m-media-viewer .main-media-item .caption .show-all {
  bottom: -30px;
  position: absolute;
  right: 24px;
  font-size: 12px;
  padding: 3px 8px;
  background: #000;
  color: $yellow;
  @include mq(smartphone) {
    right: auto;
    left: 0;
  }
}

.m-media-viewer .main-media-item .caption .show-all:after {
  content: "\f0d7";
  font: normal normal normal 12px/1 FontAwesome;
  margin-left: 8px;
}