/* Media viewer thumbs */

.m-media-viewer-thumbs {
  position: relative;
  @include clearfix;
}

.m-media-viewer-thumbs .thumb {
  float: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px 9px #00000063;
  margin: 10px 10px 0 0;
  height:120px;
  width:120px;
}

.m-media-viewer-thumbs img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all .2s;
}

.m-media-viewer-thumbs .thumb--portrait img {
  width: 100%;
  height: auto;
}

.m-media-viewer-thumbs a:hover img {
  filter: brightness(0.8);
}

.m-media-viewer-thumbs .thumb--video:after {
  content: "\f04b";
  font: normal normal normal 20px/1 FontAwesome;
  border-radius: 100px;
  background: white;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: $green;
  text-align: center;
  padding-top: 15px;
  padding-left: 5px;
}

.m-media-viewer-thumbs .controls {
  position: static;
  display: inline;
}

.m-media-viewer-thumbs .controls .scroll-left,
.m-media-viewer-thumbs .controls .scroll-right {
  position: absolute;
  top: 50px;
  background: $red;
  padding: 10px;
  color: white;
  width:42px;
  height:42px;
}

.m-media-viewer-thumbs .controls .scroll-left {
  left: -60px
}

.m-media-viewer-thumbs .controls .scroll-left:before {
  content: "\f053";
  font: normal normal normal 18px/1 FontAwesome;
}

.m-media-viewer-thumbs .controls .scroll-right {
  right: -60px
}

.m-media-viewer-thumbs .controls .scroll-right:before {
  content: "\f054";
  font: normal normal normal 18px/1 FontAwesome;
}

.m-media-viewer-thumbs .pane {
  width:100%;
  overflow:hidden;
  height:130px;
}

.m-media-viewer .m-media-viewer-thumbs .thumb--video:after {
  width:30px;
  height:30px;
  font-size:14px;
  padding-top: 8px;
  padding-left: 4px;
  bottom:10px;
  right:10px;
}