// Overlay

.m-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  //background: rgba(49, 14, 77, 0.9215686274509803);
  //background: transparentize($darker-base, 0.1);
  z-index: 1000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  /*  background: rgba(49,14,77,0.93);
    background: -moz-linear-gradient(top, rgba(49,14,77,0.93) 0%, rgba(103,11,117,0.93) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,14,77,0.93)), color-stop(100%, rgba(103,11,117,0.93)));
    background: -webkit-linear-gradient(top, rgba(49,14,77,0.93) 0%, rgba(103,11,117,0.93) 100%);
    background: -o-linear-gradient(top, rgba(49,14,77,0.93) 0%, rgba(103,11,117,0.93) 100%);
    background: -ms-linear-gradient(top, rgba(49,14,77,0.93) 0%, rgba(103,11,117,0.93) 100%);
    background: linear-gradient(to bottom, rgba(49,14,77,0.93) 0%, rgba(103,11,117,0.93) 100%);*/

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#310e4d', endColorstr='#670b75', GradientType=0);
}

.m-overlay.is-showing {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.m-overlay .close {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index:1;
  width: 98px;
  height: 50px;
  @include mq(smartphone) {
    top: -2px;
    right: -2px;
    width:50px;
    background-color: rgba(0,0,0,0.7);
  }
}

.m-overlay .close a {
  background: url('../assets/images/icon-close.svg') right center/25px no-repeat;
  width: 98px;
  text-align:right;
  height: 50px;
  padding: 14px 40px 0 0;
  opacity: 0.7;
  display: inline-block;
  margin-right: 13px;
  font-size: 16px;
  font-weight: 700;
  @include transition(all .2s);
  @include mq(smartphone) {
    width:50px;
    @include kellum;
  }
}

.m-overlay .close a:hover {
  opacity: 1;
}