// Place picker

.m-place-picker {
  position: absolute;
  z-index: 9999;
  max-width:90%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  @include mq(tablet) {
    top:60px;
  }
  @include mq(smartphone) {
    width: 70%;
  }
}

.showing-place-picker .m-place-picker {
  display:block;
}

.showing-place-picker .m-map {
  cursor:crosshair;
}

.m-place-picker .wrap {
  padding: 20px 72px 20px 25px;
  font-size:26px;
  background:rgba(0,0,0,0.8);
  display:inline-block;
  color:white;
  @include mq(tablet) {
    padding-right:50px;
  }
  @include mq(smartphone) {
    font-size: 16px;
    padding: 10px 50px 10px 15px;
    width:100%;
  }
}

.m-place-picker .close {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('../assets/images/icon-close.svg') center no-repeat;
  position:absolute;
  top: 24px;
  right: 24px;
  @include mq(smartphone) {
    top: 13px;
    right: 13px;
  }
}