// Record card

.m-record-card {
  font-size: 14px;
}

.m-record-card a {
  color: inherit;
  display: block;
  //background: white;
  transition: all .4s;
  position: relative;
  //border-radius: $element-border-radius-small;
  //@include shadow;
  @include link-animation;
  //box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.11);
}

.m-record-card a:hover {
  //box-shadow: 0 0 30px rgba(0, 0, 0, 0.41);
  //transform: translate3d(6px,-6px,0);
  //box-shadow: -9px 9px 0px rgba(0, 0, 0, 0.11);
}

.m-map-area .m-record-card a {
  background: white;
}

.m-map-area .m-record-card a:hover {
  background: #e6e5e5;
}

.m-record-card .image {
  width: 100%;
  padding-bottom: 55%;
}

.m-record-card .text-content {
  padding: 15px 20px;
  @include top-and-tail;
}

.m-record-card h1 {
  font-size: 18px;
  margin-top: 3px !important;
  margin-bottom: 6px;
  clear: left;
  //color:$second-accent;
  //@include link-indicator;
  @include transition(all .4s);
  @include font-display;
}

.m-record-card a:hover h1 {
  //color:$second-accent;
}

.m-record-card p {
  margin: 0 0 10px 0;
}

.m-record-card .collection-indicator {
/*  margin-top: -34px !important;
  margin-left: -10px;*/
  //background: #fff;
  display: block;
  font-size: 10px;
  //padding: 8px 12px;
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .2s;
}

.m-record-card a:hover .collection-indicator {
  //background: darken(#e6e5e5, 10%);
}