// Record card

.m-record-card {
  font-size: 14px;
  @include record-card;
}

.m-tray-records-list {
  .m-record-card {
    font-size: 14px;
    @include record-card;

    &.is-hidden,
    &.is-hidden .wrapper {
      display: none;
    }
  }
}

.m-tray-records-container {
  .records-section .m-tray-title-area {
    position: relative;
  }

  .records-section .m-tray-title-area.is-hidden {
    display: none;
  }

  .records-section .m-tray-title-area .meta {
    position: absolute;
    right: 0;
    top: 20px;
  }
}
