// Record

.m-record .wrap {
  @include overlay-wrap;
  max-width: 1100px;
  margin-top: 0;
  color: white;
  position: relative;
}

// Next & previous

.m-record div.next,
.m-record div.previous {
  position: fixed;
  top: 200px;
}

.m-record div.next {
  right: 0;
}

.m-record div.previous {
  left: 0;
}

.m-record div.next button,
.m-record div.previous button {
  background: $other-blue;
  @include kellum;
  text-indent: 200%;
  overflow: hidden;
  color: white;
  border-radius: 0;
  @include transition(opacity .2s);
  height: 70px;
  width: 70px;
}

.m-record div.next button:hover,
.m-record div.previous button:hover {
  color: white;
}

.m-record div.next button:before,
.m-record div.previous button:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-width: 0 0 2px 2px;
  @include transform(rotate(45deg));
  @include transition(all .2s);
  opacity: 0.7;
  top: 27px;
  left: 31px;
  text-indent: 0;
}

.m-record div.next button:hover:before,
.m-record div.previous button:hover:before {
  opacity: 1;
}

.m-record div.next button:before {
  @include transform(rotate(225deg));
  left: 25px;
}

// Header

.m-record .header--no-media {
  margin-top: 200px;
}

// Title

.m-record .title {
  @include polygon-background(yellow, top, false);
  padding: 27px 40px 35px;
  color: $black;
  font-size: 26px;
  position: relative;
  margin-bottom: -20px;
  margin-left: 300px;
  width: 50%;
  z-index: 1;
}

.m-record .title h1 {
  margin-top: 0;
  @include font-display;
  font-weight: 200;
  margin-bottom: 0;
  position: relative;
  font-size: 44px;
}

.m-record .header--expanded .title-area {
  float: left;
  width: 45%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: -20px;
}

.m-record .header--expanded.header--no-hero .title-area {
  float: none;
  width: auto;
  @include clearfix;
}

.m-record .header--expanded .title-area .text-content {
  padding-bottom: 20px;
}

.m-record .header--expanded.header--no-hero .title-area .text-content {
  float: left;
  width: 50%;
  padding-right: 40px;
}

.m-record .header--expanded .title {
  margin-left: 0;
  width: auto;
}

// Meta

.m-record .meta {
  background: transparentize($black, 0.1);
  color: white;
  font-size: 14px;
  margin-left: 300px;
  display: inline-block;
  position: relative;
}

.m-record .header--expanded .meta {
  margin-left: 0;
}

.m-record .header--expanded.header--no-hero .meta {
  margin-top: 50px;
}

.m-record .meta .dates {
  padding: 10px 40px 0;
  @include font-display;
  font-size: 28px;
  font-weight: 200;
  font-feature-settings: lnum;
  font-variant-numeric: lining-nums;
}

.m-record .meta .creator {
  padding: 0px 40px 20px;
}

.m-record .meta .creator a {
  color: white;
  text-decoration: underline;
}

// Social

.m-record .social {
  z-index: 2;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.m-record .header--expanded .social {
  margin-right: -30px;
}

.m-record .social > div {
  width: 96px;
  text-align: center;
  padding: 12px 6px;
  background: $red;
  color: $orange;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.m-record .social > div.add-to-collection {
  color: $orange;
}

.m-record .social > div.social-status {
  background: $green;
  color: $yellow;
}

.m-record .social > div.share-record {
  background: $blue;
  color: #fff;
}

.m-record .social button,
.m-record .social a {
  background: transparent;
  display: block;
  width: 100%;
  padding: 0;
}

.m-record .social button:before,
.m-record .social a:before {
  background: transparent;
  display: block;
  margin: 0 auto;
  content: "\f1e0";
  font-size: 32px;
  font: normal normal normal 24px/1 FontAwesome;
  line-height: 45px;
  text-align: center;
  color: $yellow;
}

.m-record .add-to-collection button:before {
  content: "\f1e0";
  color: $orange;
}

.m-record .social-status button:before {
  content: "\f164";
  color: $yellow;
}

.m-record .share-record button:before {
  content: "\f1e0";
  color: #fff;
}

.m-record .social button span {
  display: none;
}

.m-record .social > div.edit-record {
  color: $orange;
}

.m-record .edit-record a:before {
  content: "\f044";
}

// Sidebar

.m-record .sidebar {
  float: left;
  width: 280px;
  margin-left: 20px;
  margin-top: -110px;
  position: relative;
  z-index: 1;
}

.m-record .header--expanded .sidebar {
  margin-top: 20px;
  margin-left: 0;
  width: auto;
  float: none;
}

.m-record .header--expanded.header--no-hero .sidebar {
  width: 50%;
  float: left;
}

// Place

.m-record .place {
  margin-bottom: 20px;
}

.m-record .header--expanded.header--no-hero .place {
  float: left;
  width: 50%;
  margin-bottom: 0;
}

.m-record .place .map {
  width: 100%;
  padding-bottom: 100%;
  background: #ddd url('../assets/images/map-thumb.png') center/cover;
}

.m-record .place .text {
  background: #4f4d4d;
  color: white;
  padding: 10px 14px;
  font-size: 12px;
  font-weight: 600;
}

// Article

.m-record .m-article {
  background: white;
  padding: 40px 44px;
  color: #333;
  width: calc(100% - 300px);
  margin-left: -40px;
  float: right;
  position: relative;
  margin-bottom: 100px;
}

/*.record-view-full .m-record .m-article {
  margin-right: 40px;
}*/

.m-record .m-article p:first-child {
  @include font-display;
  font-size: 20px;
  margin-top: 0;
}

// Actions

.m-record .actions {
  padding-top: 30px;
}

.m-record .actions button {
  display: block;
  padding: 10px 22px;
  margin-right: 20px;
  color: white;
  background: $red;
  margin-bottom: 3px;
}

.m-record .actions button:before {
  margin-right: 9px;
  content: "\f0da";
  font: normal normal normal 17px/1 FontAwesome;
}

.m-record .actions .add-to-collection:before {
  content: "\f24d";
}

.m-record .actions .contact-owner:before {
  content: "\f0e0";
}

.m-record .actions .flag:before {
  content: "\f024";
}

.m-record .actions .like:before {
  content: "\f164";
}

.m-record .actions .edit:before {
  content: "\f040";
}

.m-record .m-share-record,
.m-record .m-social-status {
  float: right;
  margin-left: 20px;
}

.m-record .meta ul {
  @include unlist;
}

.m-record .meta h4 {
  display: inline;
}

.m-record .dates {
  font-weight: bold;
}

// Hero

.m-record-hero {
  background: #eee;
  height: 580px;
}

.header--gallery .m-record-hero {
  height: 650px;
  margin-bottom: -100px;
}

.m-record-hero .image {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  position: relative;
  background-position: center;
  background-size: cover;
  span.is-loading {
    @include loading-spinner;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.m-overlay.is-showing .m-record-hero .image {
  @include transition(all 3s);
  filter: grayscale(0%);
}

.m-record .header--expanded .m-record-hero {
  width: 55%;
  float: left;
  margin-bottom: 40px;
}

.m-record .header--no-hero .m-record-hero {
  display: none;
}

// Footer

.m-record .footer {
  border-top: 2px solid #4b4b4b;
  padding-top: 40px;
  margin-top: 40px;
  clear: both;
}

.m-record .attribution {
  float: left;
  width: 50%;
  padding-right: 40px;
}

.m-record .attribution ul {
  @include unlist;
}

.m-record .attribution h4 {
  font-weight: normal;
  display: inline;
}

.m-record .footer-actions {
  float: left;
  width: 50%;
  text-align: right;
}

.m-record .footer-actions button,
.m-record .footer-actions a {
  background: none;
  padding: 0;
  color: $yellow;
  display: inline-block;
  margin-left: 20px;
}