// Record

.m-record .wrap {
  @include overlay-wrap-white;
  max-width: 900px;
  margin-top: 50px;
}

.m-record .wrap h1 {
  margin-top: 0;
}

.m-record .close button {
  @include icon-button;
}

.m-record .close {
  position: fixed;
  top: 20px;
  right: 20px;
}

.m-record .close button:before {
  content: "\f00d";
}

// Next & previous

.m-record div.next,
.m-record div.previous {
  position: fixed;
  top: 200px;
}

.m-record div.next {
  right: 40px;
}

.m-record div.previous {
  left: 40px;
}

.m-record div.next button,
.m-record div.previous button {
  @include icon-button;
  background: transparent;
  color: white;
  border-radius:0;
  opacity: 0.3;
  @include transition(opacity .2s);
  height: 70px;
}

.m-record div.next button:hover,
.m-record div.previous button:hover {
  opacity: 1;
  color: white;
}


.m-record div.next button:before,
.m-record div.previous button:before {
  font: normal normal normal 78px/1 FontAwesome;
  content: "\f0da";
}

.m-record div.next button:before {
  content: "\f0da";
}

.m-record div.previous button:before {
  content: "\f0d9";
}

// Actions

.m-record .actions {
  padding-top: 30px;
}

.m-record .actions button {
  display: block;
  float: left;
  padding: 10px 22px;
  margin-right: 20px;
}

.m-record .actions button:before {
  margin-right: 9px;
  content: "\f0da";
  font: normal normal normal 17px/1 FontAwesome;
}

.m-record .actions .add-to-collection:before {
  content: "\f24d";
}

.m-record .actions .contact-owner:before {
  content: "\f0e0";
}

.m-record .actions .flag:before {
  content: "\f024";
}

.m-record .actions .like:before {
  content: "\f164";
}

.m-record .actions .edit:before {
  content: "\f040";
}

.m-record .m-share-record,
.m-record .m-social-status {
  float: right;
  margin-left:20px;
}

.m-record .meta ul {
  @include unlist;
}

.m-record .meta h4 {
  display: inline;
}

.m-record .attribution ul {
  @include unlist;
}

.m-record .attribution h4 {
  font-weight: normal;
  display: inline;
}

.m-record .dates {
  margin-bottom: 10px;
  font-weight: bold;
}

.m-record-hero {
  background: #eee;
  height: 400px;
  margin: 40px -40px;
}

.m-record-hero .image {
  width: 100%;
  height: 100%;
}

.m-record .place {
  float: right;
  width: 200px;
  margin-left: 30px;
  margin-top: -70px;
}

.m-record .place .map {
  width: 100%;
  padding-bottom: 100%;
  background: #ddd url(/mini-map.png) center/cover;
}

.m-record .place .text {
  background: #eee;
  padding: 10px 14px;
}