/* Record collections list */

.m-record-collections-list {
  background: #eeeeee;
  padding: 40px 44px;
  color: #333;
  width: calc(100% - 300px);
  margin-left: -40px;
  float: right;
  position: relative;
  @include top-and-tail;
  @include mq(tablet) {
    margin-left: 0;
    float: none;
    width: 80%;
    padding: 30px;
    clear: left;
    z-index: -1;
    font-size: 16.1px;
  }
  @include mq(smartphone) {
    padding: 15px;
    width: 100%;
    z-index: 0;
    font-size: 14.1px;
  }
}

.m-record-collections-list div {
  font-size: 14px;
}

.m-record-collections-list div p:first-child {
  font: inherit !important;
}

.m-record-collections-list p {
  margin: 0 0 10px 0;
}

.m-record-collections-list a {
  color: $green;
  text-decoration: underline;
}

.m-record-collections-list a:hover {
  color: darken($green, 20%);
}

.m-record-collections-list > h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4px;
  opacity: 0.6;
  font-size: 14px;
}

.m-record-collections-list ul {
  @include unlist;
}