.m-tag-groups {
  .tag-group {
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 180px;
    vertical-align: top;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .tag-group-count {
      background: $green;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      color: #fff;
      font-size: 0.8em;
      width: 20px;
      display: inline-block;
      height: 20px;
      font-weight: bold;
      padding: 1px 0 0 0;
      margin: 0 0 0 5px;
    }

    .tags {
      display: none;
      position: absolute;
      z-index: 999;
      top: 25%;
      width: 400px;
      left: -100px;
      background: #fff;

      &.is-visible {
        display: block;
      }

      &:before {
        content: "";
        border-top: 10px solid #fff;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
        width: 0;
        transform: rotate(45deg);
        display: block;
        margin-left: calc(50% - 15px);
        z-index: -1;
      }

      ul {
        list-style-type: none;
        text-align: left;
        margin-top: -10px;
        background: #fff;
        padding-top: 10px;

        .tag {
          display: inline-block;
          width: 45%;
          vertical-align: top;
          text-align: left;
          padding: 10px 0;

          label {
            background: none;
            color: #222;
          }

          input[type=checkbox] {
            float: left;
            width: auto;
            margin-top: 3px;
            margin-left: -20px;
          }
        }
      }

      button {
        float: right;
        margin: 0 10px 10px 0;
      }
    }
  }
}
