// Tool button

.m-tool-button button {
  background: transparent;
  border: 0;
  color: $bright-accent;
  color: #19c383;
  color:#7f0181;
  color:#ffcf7c;
  padding: 15px 10px;
  position: relative;
}

.m-tool-button button:after {
  content: attr(data-label);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0 15px 50px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  width: 170px;
  opacity: 0;
  transition: opacity .2s;
}

.m-tool-button button:focus {
  outline: 0;
}

.m-sidebar:hover .m-tool-button button:after {
  opacity: 1;
}

.m-tool-button button:before {
  font: normal normal normal 20px/1 FontAwesome;
}

.m-tool-button--search button:before {
  content: "\f002";
}

.m-tool-button--date-range button:before {
  content: "\f017";
}

.m-tool-button--layers button:before {
  content: "\f24a";
}

.m-tool-button--add-collection button:before {
  content: "\f24d";
}

.m-tool-button--add button:before {
  content: "\f067";
}

.m-tool-button--your-account button:before {
  content: "\f2c0";
}

.m-tool-button button:hover {
  opacity: 0.5;
}

.m-tool-button span {
  display: none;
}

/*
$base-color: #910ade;

.m-tool-button:nth-child(1) button {
  color: adjust-hue($base-color, 5%);
}

.m-tool-button:nth-child(2) button {
  color: adjust-hue($base-color, 10%);
}

.m-tool-button:nth-child(3) button {
  color: adjust-hue($base-color, 15%);
}

.m-tool-button:nth-child(4) button {
  color: adjust-hue($base-color, 20%);
}

.m-tool-button:nth-child(5) button {
  color: adjust-hue($base-color, 25%);
}
*/
