// Tray title area

.m-tray-title-area {
  @include clearfix;
  margin-bottom: 25px;
}

.m-tray-title-area h1 {
  margin-top: 0;
  margin-bottom: 7px;
  @include font-display;
  max-width: calc(100% - 47px);

  background: $yellow;
  display: inline-block;
  float:left;
  color: $black;
  padding: 3px 10px;
}

.m-tray-title-area h2 {
  margin-top: 0;
  margin-bottom: 7px;
  @include font-display;
  font-weight:600;
  max-width: calc(100% - 47px);
  font-size:18px;
  background: $yellow;
  display: inline-block;
  float:left;
  color: $black;
  padding: 2px 10px;
  clear: left;
}

.m-tray-title-area .close {
  float: right;
  margin-top: -4px;
  margin-right: -4px;
}

.m-tray-title-area .close a {
  background: url('../assets/images/icon-close.svg') center no-repeat;
  width: 50px;
  height: 50px;
  @include kellum;
  text-indent: 50px;
  padding: 0;
  opacity: 0.7;
  @include transition(all .2s);
  cursor:pointer;
}

.m-tray-title-area .close a:hover {
  opacity: 1;
}

.m-tray-title-area .meta {
  float: left;
  clear:both;
  @include caps-subtitle;
  font-size:14px;
}

.m-tray-title-area .creator-link {
  float: right;
}

.m-tray-title-area .request-to-join {
  @include lozenge-button;
  margin-left: 10px;
  margin-top: -3px;
}

.m-tray-title-area .profile-pic .image {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
  border-radius: 100px;
}

.m-tray-title-area--search-results .refine {
  float: right;
  margin-top: -10px;
}