// Tray records list

.m-tray-records-list {
  margin-left: -17px;
}

.m-tray-records-list .m-record-card {
  margin-bottom: 17px;
  width: calc(33.333333% - 17px);
  display: inline-block;
  margin-left: 17px;
  vertical-align: top;
  height: 280px;
  @include mq(smartphone) {
    width:calc(50% - 17px);
  }
  @media screen and (max-width:600px) {
    width:calc(100% - 17px);
  }
  @include mq(small-smartphone) {
    height: 230px;
    margin-bottom:15px;
  }
}

.m-tray-records-list .m-record-card:nth-child(7n+1),
.m-tray-records-list .m-record-card:nth-child(7n+4) {
  width: calc(66.666666% - 17px);
  @include mq(smartphone) {
    width:calc(50% - 17px);
  }
  @media screen and (max-width:600px) {
    width:calc(100% - 17px);
  }
}


.m-tray-records-list .m-record-card.placeholder-0 {
  background: $black url('../assets/images/placeholder/wide-01.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-1 {
  background: $black url('../assets/images/placeholder/wide-02.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-2 {
  background: $black url('../assets/images/placeholder/wide-03.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-3 {
  background: $black url('../assets/images/placeholder/wide-04.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-4 {
  background: $black url('../assets/images/placeholder/wide-05.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-5 {
  background: $black url('../assets/images/placeholder/wide-06.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-6 {
  background: $black url('../assets/images/placeholder/wide-07.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-7 {
  background: $black url('../assets/images/placeholder/wide-08.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-8 {
  background: $black url('../assets/images/placeholder/wide-09.svg') center/cover;
}

.m-tray-records-list .m-record-card.placeholder-9 {
  background: $black url('../assets/images/placeholder/wide-10.svg') center/cover;
}

.m-tray-records-list .m-record-card.m-record-card {
  background-clip: content-box;

}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .m-tray-records-list .m-record-card.m-record-card {
    background-size:735px 280px;
  }
}

.m-tray-records-list .m-record-card .image {
  background: #4d4d4d;
}

.m-tray-records-list .m-record-card .image img {
  background: #4d4d4d;

  @keyframes image-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  animation: image-load 0.5s ease-out;

}