// Tray records list

.m-tray-records-list {
  margin-left: -17px;
}

.m-tray-records-list .m-record-card {
  margin-bottom: 20px;
  width: calc(33.333333% - 17px);
  display: inline-block;
  margin-left: 17px;
  vertical-align: top;
  height: 280px;
  @include mq(smartphone) {
    width:calc(50% - 17px);
  }
  @media screen and (max-width:600px) {
    width:calc(100% - 17px);
  }
}

.m-tray-records-list .m-record-card:nth-child(7n+1),
.m-tray-records-list .m-record-card:nth-child(7n+4) {
  width: calc(66.666666% - 17px);
  @include mq(smartphone) {
    width:calc(50% - 17px);
  }
  @media screen and (max-width:600px) {
    width:calc(100% - 17px);
  }
}


.m-tray-records-list .m-record-card:nth-child(10n+1) {
  background: $navy url('../assets/images/placeholder/wide-01.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+2) {
  background: $red url('../assets/images/placeholder/wide-02.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+3) {
  background: $lilac url('../assets/images/placeholder/wide-03.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+4) {
  background: $green url('../assets/images/placeholder/wide-04.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+5) {
  background: $black url('../assets/images/placeholder/wide-05.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+6) {
  background: $navy url('../assets/images/placeholder/wide-06.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+7) {
  background: $yellow url('../assets/images/placeholder/wide-07.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+8) {
  background: $orange url('../assets/images/placeholder/wide-08.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+9) {
  background: $red url('../assets/images/placeholder/wide-09.svg') center/cover;
}

.m-tray-records-list .m-record-card:nth-child(10n+10) {
  background: $navy url('../assets/images/placeholder/wide-10.svg') center/cover;
}


.m-tray-records-list .m-record-card .image {
  background: #2e3c4e;
}

.m-tray-records-list .m-record-card .image img {
  background: #2e3c4e;


  @keyframes image-load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  animation: image-load 0.5s ease-out;

}

/*
$black: #131313;
$yellow: #efdf5b;
$orange: #fdbe66;
$red: #ee1d46;
$navy: #2e2d75;
$gray: #dfdfde;
$green: #549a77;
$lilac: #a691c5;
$light-blue: #afd2ff;
*/
